[2015-01-17 00:40] Dashed opened #3 "Label comparison screenshot"
I think it's useful to label which frame of the comparison gif uses which syntax theme:
![screen2](https://cloud.githubusercontent.com/assets/139499/5786680/4b82e9da-9db7-11e4-83d0-9d65674f3921.gif)

[2015-01-17 00:41] Dashed commented on #3
GitHub css resizes the gif width-wise; looks nice if you open the gif in a separate tab.

[2015-01-17 00:56] Dashed opened #4 "Suggestion: Colorize `this`"
I did this in my custom Atom user stylesheet while test driving the editor, and found it to be a very good visual cue.

[2015-01-17 01:31] Dashed opened #5 "Rename syntax name"
IMO, I think `JavaScript JSX` should be renamed to something else (maybe `JavaScript 6to5`?). JSX isn't the only thing that has highlighting support, but generally/ideally anything that 6to5 supports syntactically (e.g. ES7+).

[2015-01-17 01:39] Dashed commented on #5
Also, the name nearly confused me because `sublime-react` also have a similar name: https://github.com/reactjs/sublime-react/blob/4dba5d41b8174df35af00299fcb2986464a747d5/syntax/jsx/tmLanguage/JavaScript%20(JSX).JSON-tmLanguage#L2

[2015-01-17 01:42] zertosh commented on #5
Yeah, I'm totally cool with this. FYI: The one thing we _can't_ change is the filename, otherwise SublimeLinter-jsxhint might not work. The lowercased `tmLanguage` filename is the syntax's name. And SublimeLinter-jsxhint only has [`'jsx', 'javascript_jsx', 'javascript (jsx)'](https://github.com/SublimeLinter/SublimeLinter-jsxhint/blob/f991f90/linter.py#L23) listed.

Can I get another :+1: for the

[2015-01-17 01:49] zertosh commented on #3
Derp. I didn't even label it in the README.

[2015-01-17 01:54] Dashed commented on #3
@zertosh You can take the gif if you want. Or do your own preferred labelling.

[2015-01-17 02:45] #3 closed

[2015-01-17 02:53] zertosh commented on #3
@Dashed ugh. now it decides to autocomplete. first time ever. weird.

[2015-01-17 07:59] gpbl commented on #5
:+1:

[2015-01-17 09:07] STRML commented on #5
Feel free to rename it, please just respond to this ticket with the target rename and I will add it to sublimelinter-jsxhint.

[2015-01-17 19:06] zertosh commented on #5
Done. Renamed to `JavaScript 6to5`

[2015-01-17 19:06] #5 closed

[2015-01-17 20:33] STRML commented on #5
SublimeLinter-JSXHint `1.1.0` now has support for this name.

[2015-01-18 14:18] telegraphinho opened #11 "Bug with jquery.js sourcecode."
jQuery version: 1.11.2(didn't check other versions)
Line #: 2356
Screenshot of the problem: http://i.imgur.com/H5eQJ70.png
It stumbles on this whole line(doesn't highlight any syntax for some reason) AND it doesn't highlight syntax in the subsequent lines unless you remove the ternary operator in the end(question mark and further till the closing curly bracket).

If you remove this whole line it a

[2015-01-18 14:27] telegraphinho commented on #11
I guess it's Javascript Next's fault. It's broken there too.

[2015-01-20 09:03] STRML opened #13 "Ternaries with spaces before colon breaks highlighting."
For example:

![Imgur](http://i.imgur.com/LCaV8gx.jpg)

This appears to be caused by the space in the ternary.

Copy-paste this snippet to your editor:

[code]

Play with spaces before/after the `:`.

[2015-01-20 09:14] STRML commented on #13
As a more minimal test, simply try

`(true ? 'bar' : 'bar');`

Note that the red highlighting on the colon disappears and reappears if the space before it is removed.

[2015-01-20 09:20] STRML commented on #13
I am not familiar with the `tmLanguage` spec, but this appears to fix it:

Change [L1516](https://github.com/6to5/6to5-sublime/blob/956c85261e55f2b914eab90e2bb447344cfaa6bf/JavaScript%206to5.tmLanguage#L1516), which reads:

[code]

to:

[code]

[2015-01-21 03:16] Dashed commented on #4
Seems this is already scoped. But my preferred color scheme doesn't colorize it.

[2015-01-21 03:16] #4 closed

[2015-01-21 03:17] Dashed commented on #11
@telegraphinho would you be able to find a minimal example?

[2015-01-21 10:05] telegraphinho commented on #11
@Dashed Unfortunately it's not possible. It seems, that also has something to do with the size of the file. If i extract the function or expression in question into it's own file - syntax highlighting works fine. If i remove all preceding lines in jquery.js it also works fine.

Also found the same thing in angular.js source code. This time on line #6882. And the same thing happens. Syntax highligh

[2015-01-21 13:30] zertosh commented on #11
I noticed a problem with ternaries yesterday. I was looking at prettified version of a minified file - my guess is that the minification does really weird things with ternaries. These changes might have something to do with  it https://github.com/Benvie/JavaScriptNext.tmLanguage/commit/da5a5529deeb72eefc98d2d48183bc8bc54e6173 and https://github.com/Benvie/JavaScriptNext.tmLanguage/commit/732f5a3db

[2015-01-21 13:32] zertosh commented on #13
@STRML I have to look into this. A change was recently introduced into JavaScriptNext and I think it's causing other issues too (See https://github.com/6to5/6to5-sublime/issues/11#issuecomment-70836428)

[2015-01-21 13:47] telegraphinho commented on #11
@zertosh https://gist.github.com/telegraphinho/f6c6677821cead79f604 . It's an original(not unminified) jquery@1.11.2

[2015-01-21 17:58] Dashed commented on #11
Oh haha. I didn't realize it's the actual jQuery source code.

[2015-01-21 21:58] AprilArcus opened #14 "text nodes in jsx are highlighted like js"
![screenshot 2015-01-21 13 56 05](https://cloud.githubusercontent.com/assets/2045543/5845999/4b6c8958-a175-11e4-9563-fb1c47c94c6a.png)

Using the included Monokai Phoenix scheme. This lints (in [jsxhint](https://github.com/STRML/JSXHint) + [SublimeLinter-jsxhint](https://github.com/SublimeLinter/SublimeLinter-jsxhint)) and transpiles correctly.

[2015-01-21 22:53] Dashed commented on #14
It seems unusual to be hardcoding text that like that in a react component; especially when it's desirable for the component to be reusable.

[code]

[2015-01-21 22:57] Dashed commented on #14
But you're absolutely right that keywords + quotes/semicolons shouldn't be scoped between JSX tags when it's not between `{ }`.

[2015-01-27 20:42] zertosh commented on #13
@STRML fixed in https://github.com/6to5/6to5-sublime/pull/15

[2015-01-27 20:42] #13 closed

[2015-01-27 20:42] zertosh commented on #11
@telegraphinho fixed in https://github.com/6to5/6to5-sublime/pull/15. I should get picked up by Package Control in an hour or so.

[2015-01-27 20:42] #11 closed

[2015-01-27 20:46] zertosh commented on #14
This is a though one. What's funny is that I _knew_ about it, but always brushed it off because I wrap all my text in `{ }`. @Dashed, what do you think the behavior should be? Everything between a tag that is not in `{ }` should be matched as a string?

[2015-01-27 21:10] Dashed commented on #14
@zertosh Glancing at the grammer, http://facebook.github.io/jsx/, looks like `JSXText` (or sequence of `JSXTextCharacter`). Unsure if provided scope for this. I still don't know tmLanguage :sweat_smile:.

[2015-01-28 04:22] mshick opened #17 "regex char escaping throws off syntax highlighter"
See screenshots -- top is with the built-in JS syntax, and it looks fine

![screen shot 2015-01-27 at 11 20 53 pm](https://cloud.githubusercontent.com/assets/277401/5932403/395f5302-a67b-11e4-85c9-91b2b5378997.png)

bottom here is with 6to5, and you see it thinks something is unclosed... Scripts eval fine, no hidden chars, etc.

![screen shot 2015-01-27 at 11 21 07 pm](https://cloud.githubusercont

[2015-01-28 06:09] hawkrives commented on #17
I can second this report; the attached code block highlights everything after the start of the regex as a regex.

[code]

![screen shot 2015-01-28 at 12 08 45 am](https://cloud.githubusercontent.com/assets/464441/5933172/dbc4a11e-a681-11e4-99ef-9b7d458ded86.png)

[2015-01-28 17:56] zertosh commented on #17
I can't seem to reproduce this. Can I get more details? Like a gist of the surrounding context?
![wjxzf](https://cloud.githubusercontent.com/assets/830952/5943442/05802292-a6ed-11e4-9a2f-014c42438864.png)

[2015-01-28 18:05] mshick commented on #17
Sure, this trips it:

https://gist.github.com/mshick/bb42f2165efdc3c573e9

![screen shot 2015-01-28 at 1 05 34 pm](https://cloud.githubusercontent.com/assets/277401/5943605/5f454838-a6ee-11e4-9372-e67c65543e18.png)

[2015-01-28 18:06] mshick commented on #17
I'm using v1.0.3 according to package manager.

[2015-01-28 18:40] zertosh commented on #17
@mshick... still can't reproduce it
![dajlb](https://cloud.githubusercontent.com/assets/830952/5944198/041791dc-a6da-11e4-9666-455cc106a89e.png)
![pmcuo](https://cloud.githubusercontent.com/assets/830952/5944199/0418ac66-a6da-11e4-896d-8a333765af86.png)
![yinbi](https://cloud.githubusercontent.com/assets/830952/5944200/041a436e-a6da-11e4-8c32-ea138082fcc6.png)

[2015-01-28 18:46] zertosh commented on #17
@mshick why is the open parens on `replace` outlined?

[2015-01-28 18:54] hawkrives commented on #17
@zertosh if I stick my example into a blank file and set the syntax to Javascript 6to5, it triggers the bug, with package v.1.0.3.

[code]

[2015-01-28 19:05] mshick commented on #17
@zertosh I’m not sure why it’s outlined, but I assume that’s the heart of the issue. If I remove the escaped / things go back to normal. If I disable BracketHighlighter (which does the outlining)  the outline and question mark go away, but the syntax coloring remains messed up.

[2015-01-28 19:25] zertosh commented on #17
@mshick I quickly looked at `BracketHighlighter` and it seems like it messes with the syntax scopes. Before I go down that rabbit hole, can you share with me a quick list of what other plugins you have installed? Thanks!

[2015-01-28 19:26] mshick commented on #17
Sure, give me a sec and I’ll work my way through them and see if I can find an offender.

[2015-01-28 20:20] mshick commented on #17
@zertosh I’ve disabled every package aside from Package Manager and 6to5 and I still have the problem.

I’ll try a fresh install and see what happens…

[2015-01-28 20:21] mshick commented on #17
Here is the list of disabled packages, FYI:

		"SidebarEnhancements",
		"BracketHighlighter",
		"Stylus",
		"EditorConfig",
		"SublimeLinter",
		"Vintage",
		"GitGutter",
		"SublimeGit",
		"Handlebars",
		"SublimeLinter-jshint",
		"SublimeLinter-jsxhint",
		"Alignment",
		"WhoCalled Function Finder",
		"Predawn",
		"LESS",
		"JavaScript Completions",
		"JavaScript & NodeJS Snippets"

[2015-01-28 20:24] mshick commented on #17
Also, I’m on ST3, build 3065. I’ll try the latest dev build, 3066.

[2015-01-28 20:34] mshick commented on #17
3066 had the same issue.

3066 installed completely fresh, with only package control and 6to5 installed has the same problem.

Forgive the question, but are you sure you have the 6to5 syntax mode selected? When I brought up the fresh install things looked good for a sec, until I changed the syntax to use 6to5.

[2015-01-28 21:50] zertosh commented on #17
@mshick Thanks for the details. I tried the version that's distributed via Package Control and local non-packaged one. I'll dig into this more tonight.

@Dashed have you had these issues?

[2015-01-29 00:10] Dashed commented on #17
@zertosh Can't replicate. I'm using Monokai Extended color scheme.  Using Sublime Text 3 for OSX (build 3065):

![screen shot 2015-01-28 at 7 05 22 pm](https://cloud.githubusercontent.com/assets/139499/5949877/ab0795f0-a720-11e4-8b3d-c26e52c4570d.png)

I updated all installed packages. I restarted Sublime Text as well with no regression.

My `Package Control.sublime-settings`:
[code]

[2015-01-29 00:11] Dashed commented on #17
Wondering if this is a color scheme issue...

[2015-01-29 00:15] hawkrives commented on #17
I can replicate it with both my current color scheme and the default Monokai. I'll try it on a default install later tonight.

[2015-01-29 00:18] mshick commented on #17
I get the same results regardless of color scheme, and since BracketHighlighter is tripped as well, it has to be the syntax.

I believe I just found the reason for the different results we're seeing. If I have "JavaScriptNext - ES6 Syntax" installed then everything looks right / works properly, regardless of whether my doc is using 6to5 or JSNext as the syntax setting.

@Dashed can you try uninsta

[2015-01-29 00:19] mshick commented on #17
(it makes no sense that one syntax would affect another, but that's definitely what I'm seeing)

[2015-01-29 00:21] zertosh commented on #17
@mshick ok i'm seeing it now. if I remove jsnext, i see your breakable. i'll investigate why

[2015-01-29 00:24] zertosh commented on #17
derp. i think i found it. i think it's a UUID conflict.

[2015-01-29 00:25] Dashed commented on #17
@zertosh Haha! If I uninstall jsnext, all my js code is white! :laughing:

[2015-01-29 01:01] #17 closed

[2015-01-29 01:02] zertosh commented on #17
Thanks @mshick and @hawkrives for helping out with this. I just published a fix. You've got to give Package Control like an hour to update

[2015-01-29 01:03] hawkrives commented on #17
@zertosh Thank you! Keep up the good work.

[2015-01-29 01:03] mshick commented on #17
Thanks so much!

[2015-01-30 00:13] qmmr opened #19 "ES6/JSX Class methods"
Do you plan to add snippets that would use ES6 concise class methods? I've added them to my [ES6/JSX branch](https://github.com/qmmr/sublime-react/tree/ES6/JSX/snippets/js) in sublime-react fork.

[2015-01-30 00:26] Dashed commented on #19
I might +1 on this since it's something 6to5 supports.

I still haven't gotten used to typing out ES6 concise methods in objects yet :stuck_out_tongue:.

[2015-01-30 00:27] Dashed commented on #17
Updated, works fine now :)

[2015-01-30 01:30] zertosh commented on #19
@qmmr and @Dashed all of our snippets already use concise method definition syntax, and even the "component skeleton" uses `import`

[2015-02-01 19:19] qmmr commented on #19
Oh, sorry my bad, I had installed react-snippets which was shadowing 6to5. I've removed the old package and everything works :+1:

[2015-02-01 19:19] #19 closed

[2015-02-01 19:22] Dashed commented on #19
Hah. Apparently I had a similar issue :smile:

[2015-02-01 19:26] qmmr opened #21 "React component skeleton"
I've been using different 'flavor' of React.createClass
[code]

I'd like to update the snippets with this minimalistic approach of exporting the component + adding the `'use strict';` statement. What do you think?

[2015-02-01 20:06] zertosh commented on #21
Hey @qmmr,  `6to5` already adds the strict mode invocation since [ES6 modules are always in strict mode](http://people.mozilla.org/~jorendorff/es6-draft.html#sec-strict-mode-code).

As for calling `React.createClass` right on the `export default`, that presents a problem if you want to add properties right on the constructor. I know you have `statics`, but there are a [few things](https://github.c

[2015-02-01 20:13] zertosh commented on #21
wow and you also lose the `displayName` because the transform doesn't know where to get it from.

[2015-02-02 09:07] max-mykhailenko opened #22 "Sublime functions list"
How I can add es6 method to function list?

![screen shot 2015-02-02 at 11 04 58 am](https://cloud.githubusercontent.com/assets/1213198/5998044/945a6626-aacb-11e4-9f27-8ba82cad1872.png)
![screen shot 2015-02-02 at 11 05 14 am](https://cloud.githubusercontent.com/assets/1213198/5998045/945abbb2-aacb-11e4-9a49-9410b4b9785f.png)

[2015-02-02 10:43] qmmr commented on #21
Hey @zertosh, you're right about strict mode.
I know that you're restricting yourself by using the `shorthand` method of exporting directly, however I feel that often times it's a very quick and elegant way to create a small component. That's why I would propose to have a different snippet to use for this `shorthand` version, something like `rcs (react shorthand component skeleton)`.
That is of co

[2015-02-02 12:34] zertosh commented on #22
Hey @max-mykhailenko, this is a known issue. The thing is that short method definitions are not scoped as methods so sublime doesn't show them in the symbols list. I haven't figured out a good way to match them yet, but I welcome PRs :)

[2015-02-02 12:38] zertosh commented on #21
@qmmr What about `displayName`? By using the short version, you're missing out on getting that automatically by the transpiler.

[2015-02-02 12:42] sebmck commented on #21
@zertosh I could possibly add an edgease that uses the basename of the current filename as the `displayName` for `export default React.createClass`.

[2015-02-02 12:48] sebmck commented on #21
Done.

[2015-02-02 12:50] zertosh commented on #21
Nice @sebmck! @qmmr Want to submit a PR for that snippet?

[2015-02-02 16:34] qmmr commented on #21
@sebmck  :+1:
@zertosh Cool, will do it later today.

[2015-02-02 18:47] qmmr commented on #21
[PR](https://github.com/6to5/6to5-sublime/pull/23) submitted.

[2015-02-03 12:11] zertosh commented on #21
Fixed by https://github.com/6to5/6to5-sublime/pull/23

[2015-02-03 12:11] #21 closed

[2015-02-04 05:21] zertosh commented on #22
@max-mykhailenko, this is fixed in https://github.com/6to5/6to5-sublime/pull/25. Package Control should pick up the update in like an hour.

[2015-02-04 05:21] #22 closed

[2015-02-11 02:52] deoxxa opened #28 "Package is unsearchable in Package Control"
Neither "es6" nor "jsx" returns a result in Package Control's search interface for 6to5. This isn't necessarily a bug, but maybe it's something to think about.

![screen shot 2015-02-11 at 1 49 48 pm](https://cloud.githubusercontent.com/assets/479055/6141095/f49fb056-b1f4-11e4-9f99-669f7f67c934.png)
![screen shot 2015-02-11 at 1 50 04 pm](https://cloud.githubusercontent.com/assets/479055/6141097/f

[2015-02-11 02:53] grapegravity commented on #28
:+1:, it took me complaining and a coworker telling me this existed for me to find it. :stuck_out_tongue_winking_eye:

[2015-02-11 03:07] Dashed commented on #28
IMO, 6to5-sublime's mission should be to support any syntax that 6to5 support. That's why it's forked from https://github.com/Benvie/JavaScriptNext.tmLanguage

6to5-sublime is pretty young, as it only supports ES6 and JSX (latter being baked in recently).

ES6 and JSX aren't 'exclusive' to 6to5, as it also support other useful transforms. See: https://github.com/6to5/6to5/issues/568

Thus, you sho

[2015-02-11 03:31] deoxxa commented on #28
Oh I totally agree there. 6to5 isn't a one (or two?) trick pony. I'm just thinking of people who potentially don't know about 6to5 and just want to highlight their JSX code or something, who will search for "JSX". It'd be cool if this could be another entry point to the 6to5 universe! On top of that, it actually does a better job at highlighting JSX code than anything that *does* come up if you se

[2015-02-11 03:43] Dashed commented on #28
Do people really shop for sublime plugins through the command palette?

I'd imagine folks would do some preliminary research on the plugins they're looking to install:

1. Search what they want:

   https://packagecontrol.io/search/jsx
   https://packagecontrol.io/search/es6

2. Browse GitHub repo.
3. Install through command palette using partial (or full) name of the plugin in question.

If anyth

[2015-02-11 03:46] deoxxa commented on #28
I know that I do that to look for packages - perhaps I'm in the minority there though. Anyway, if there's nothing that can be done, then there's nothing that can be done. I just didn't want anyone to miss out on this package who might benefit from it. If it turns out that most people search for packages in another way, this isn't even a problem.

[2015-02-11 03:49] Dashed commented on #28
AFAIK, there doesn't seem to be a way to add keywords: https://github.com/wbond/package_control_channel/tree/master/repository

I share this sentiment as well :smile:

I think @zertosh was supposed to make an official 6to5 blog post on this. It's understandable that he's probably busy to get around to it.

[2015-02-11 03:59] zertosh commented on #28
@deoxxa The command palette fuzzy search only matches the title and not the description - this kinda sucks actually. But we are on the _front page_ by default hahaha :smile_cat:

![rwtke](https://cloud.githubusercontent.com/assets/830952/6141765/3bec370e-b178-11e4-819f-5096159e03e3.jpg)

And I owe @Dashed a blog post on 6to5-sublime, and my manager a blog post on React/Flux - sigh. Blog post debt

[2015-02-11 04:05] Dashed commented on #28
@zertosh Hah. No worries. I know you'll come around on that blog post.

Next thing you know, is that you'll try convince your manage to use FB Relay instead of Flux :stuck_out_tongue:

[2015-02-13 04:47] hawkrives opened #29 "Use of a < with no whitespace near it results in weird colors"
![screen shot 2015-02-12 at 10 44 32 pm](https://cloud.githubusercontent.com/assets/464441/6182405/bbec08bc-b308-11e4-942a-8c39cf185238.png)
[code]

or even as little code as

![screen shot 2015-02-12 at 10 45 50 pm](https://cloud.githubusercontent.com/assets/464441/6182418/e8cafe92-b308-11e4-8b77-ce14f417c798.png)
[code]

If I add a space to the right side of the `<`, all is well.

Because it's a

[2015-02-13 05:27] sebmck opened #30 "`async` and `await` keywords aren't highlighted"
![screen shot 2015-02-13 at 4 27 47 pm](https://cloud.githubusercontent.com/assets/853712/6182690/44436c52-b39d-11e4-999a-af64b14a3f1d.png)

[2015-02-13 15:49] zertosh commented on #30
Might be a color scheme issue. `async` is matching as `storage.type.js` - so the same as `const`, `let`, and `var`. And, `await` is matching as `keyword.operator.js` - same as `delete`, `in`, `instanceof`, `new`, `of`, `typeof`, `void`, `with`. BUT, i'm seeing that `var` and `of` in the `for` are colored. Can you gist me a a full file?

PS: If you press `shift+ctrl+p`, Sublime will show you the ma

[2015-02-13 16:14] zertosh commented on #29
Yeah, I've known about this but I don't think there's a solution. Sublime can't match across new lines, but a single JSX tag can run multiple lines - in fact, it's a very common pattern:

[code]

So we only match the opening part of the tag (e.g.: `<Tag`) then try to match attributes and comments, since those can be on another line.

[2015-02-13 16:47] cesarandreu opened #31 "Move snippets to separate repo?"
Not a fan of having snippets automatically included :(. Could we move em to a separate repo?

I have my own set of personal JS snippets, and since you can't disable package-specific snippets my only choice would be to fork 6to5-sublime and keep it up-to-date manually everywhere I have a sublime text installation.

[2015-02-13 16:53] jmaher409 opened #32 "after installing this package, sublime started using up 80% of cpu and became unusable"
I was unable to get a screenshot of the memory usage because the machine locked up so I have uninstalled the package.

[2015-02-13 17:02] zertosh commented on #32
I'm afraid that I need more information to go on than this. I'm using Sublime 3 Build 3069 on Yosemite 10.10.2 and it works perfectly fine - countless others have been using it w/o a problem.

[2015-02-13 17:10] zertosh commented on #31
@sebmck Thoughts? Makes sense to me. I actually want to get rid of the snippets all together. The only snippet I use is for `for`-loops lol - I don't know if people actually use them. A wiki section (or a `README-snippets.md` on "Roll your own snippets" with samples could a good compromise.

[2015-02-13 17:23] jmaher409 commented on #32
No problem. Is it possible that it's a bad interaction with another package? I have the same OS and Sublime 3 build 3065. I can try 3069 later today to see if that resolves the problem.

[2015-02-13 19:43] Dashed commented on #31
I'm going to vote in favour of moving snippets out.

I have preference on something like `snippets.md`, which explains how to copy-paste snippets, and also where folks can PR against to add snippets to various 6to5 features (not just JSX). Something like what gulp does.

[2015-02-13 20:40] Dashed commented on #29
Are semicolons allowed inside JSX tags? If not, maybe that can be a heuristic to differentiate JSX tags from comparison operator.

[2015-02-13 22:05] zertosh commented on #29
@Dashed good call! Can you and @hawkrives give https://github.com/6to5/6to5-sublime/pull/33 a test drive before I merge it?

[2015-02-13 22:32] SomeKittens opened #34 "Does not highlight functions in class"
![screen shot 2015-02-13 at 2 26 44 pm](https://cloud.githubusercontent.com/assets/1616464/6196332/5d550d06-b38c-11e4-8ac6-0cb9c8065a96.png)

I'd expect `constructor` (as well as other class functions) to be in green, with `this` in blue.

[2015-02-13 22:57] zertosh commented on #34
You're probably using the default Monokai scheme, try `Sublime Text -> Preferences -> Color Scheme -> 6to5 -> Monokai Phoenix`

![mlkev](https://cloud.githubusercontent.com/assets/830952/6196754/d3d8aa1a-b3a9-11e4-8fda-f1dc22debf3e.png)

[2015-02-13 22:59] SomeKittens commented on #34
Yep, that was it.  Not quite sure how I feel about switching color schemes for a syntax highlighter, but it works!

The docs weren't quite clear that this change needed to be made - could that be updated?

[2015-02-13 22:59] #34 closed

[2015-02-13 23:05] zertosh commented on #34
We have the [Setting a Color Scheme](https://github.com/6to5/6to5-sublime#setting-a-color-scheme) section. What else do you think it should say?

For context: The syntax definition works regardless of color scheme. It just so happens that the stock "Monokai" chooses not to color certain constructs. You don't have to use the Monokai we provide. For example, I use https://github.com/zenorocha/dracul

[2015-02-13 23:18] SomeKittens commented on #34
Ah, that makes a lot of sense - thanks!

[2015-02-14 00:43] sebmck commented on #30
Ah, duh. Looks like that'll have to be added to Oceanic Next then. Thanks! /cc @voronianski

[2015-02-14 00:43] #30 closed

[2015-02-14 14:03] zertosh commented on #32
Any updates @jmaher409? I'd like to close out the issue if it's unrelated to `6to5-sublime`

[2015-02-14 14:06] zertosh commented on #31
Oh yeah, that is what Gulp does. Although it sounds like a cop out, showing users how to get down-and-dirty with snippets means that they can tweak them to their own style. I'd like another :+1: from another collaborator :smile:

[2015-02-14 14:07] sebmck commented on #31
@zertosh I don't use snippets at all so I don't really have an opinion. Happy to create a new repo if necessary :stuck_out_tongue_winking_eye:

[2015-02-15 04:28] zertosh commented on #29
@hawkrives I just pushed the fix for this issue in [v2.0.0](https://github.com/6to5/6to5-sublime/releases/tag/v2.0.0) - should be picked up by Package Control within the hour.

[2015-02-15 04:28] #29 closed

[2015-02-15 04:29] hawkrives commented on #29
Excellent. Sorry I didn't get around to testing this— today was a bit hectic. 

I'll see if I spot anything!

On Sat, Feb 14, 2015 at 10:28 PM, Andres Suarez <notifications@github.com>
wrote:

[2015-02-15 04:44] zertosh commented on #29
no worries!

[2015-02-15 13:20] arzatskis opened #37 "Package missing in Package Control list"
Wasn't following this repo, but this is probably due to renaming GitHub org

![](https://dl.dropboxusercontent.com/spa/zfzkcxbd46m4ot2/en9emkba.png)

![](https://dl.dropboxusercontent.com/spa/zfzkcxbd46m4ot2/3s89kzbz.png)

[2015-02-15 14:05] sebmck commented on #37
Damn, I've moved this repo temporarily to the old org. Feel free to move it back once everything's sorted @zertosh, you should have access.

[2015-02-15 21:32] zertosh commented on #28
@deoxxa The package has been renamed to babel - not that it helps with searching by "js" but at least there is a link in the front page of http://babeljs.io/

![xldtw](https://cloud.githubusercontent.com/assets/830952/6205097/3469caee-b530-11e4-9a90-8c46381d03ef.png)

[2015-02-15 21:32] #28 closed

[2015-02-15 21:34] zertosh commented on #37
Thanks @arzatskis, It's all sorted out now under the new name.

![babel-install-package](https://cloud.githubusercontent.com/assets/830952/6205103/7ed7e200-b530-11e4-9e16-e6781c9d2bc6.jpg)

[2015-02-15 21:34] #37 closed

[2015-02-16 04:20] robmcguinness opened #39 "sublimeLinter-jshint disables when syntax is set to Javascript (Babel)"
Might be related to https://github.com/SublimeLinter/SublimeLinter-jshint/pull/28

[2015-02-16 04:55] zertosh commented on #39
jshint doesn't support jsx, so adding support for babel in SublimeLinter-jshint would cause a ton of problems for users that do develop jsx. If you need to lint with jshint then you can use  https://github.com/SublimeLinter/SublimeLinter-jsxhint which already works with babel. Another alternative is to use eslint, which does support jsx, and bebel already has support in https://github.com/roadhump

[2015-02-16 04:55] #39 closed

[2015-02-16 16:12] robmcguinness commented on #39
ah i was missing the jsxhint linter...thanks for the help much obliged.

[2015-02-17 08:45] mareksuscak opened #41 "declaring EventEmitter variable causes it to have a hardly visible color"
![this](https://cloud.githubusercontent.com/assets/613647/6225382/a66670de-b689-11e4-8a47-da9220a3bce7.PNG)

[2015-02-17 16:09] zertosh commented on #41
Node constructs are scoped as [`support.class.node.js`] [1] and colored as [`#1224fe`] [2]. You can try a different theme that colors them differently - or run your own modified Monakai that doesn't color them (or colors them differently).

I use https://github.com/zenorocha/dracula-theme and it colors them like this:
![nbcte](https://cloud.githubusercontent.com/assets/830952/6231371/4e5cbf00-b694

[2015-02-17 16:09] #41 closed

[2015-02-19 03:23] zertosh commented on #32
Closing this out due to irreproducibility.

[2015-02-19 03:23] #32 closed

[2015-02-19 04:30] zertosh commented on #31
Fixed by https://github.com/babel/babel-sublime/pull/43

[2015-02-19 04:30] #31 closed

[2015-02-19 07:24] thejameskyle opened #44 "spread "this" isn't highlighted"
`this` is highlighted everywhere except for here: (from the readme)

![screen shot 2015-02-18 at 11 14 30 pm](https://cloud.githubusercontent.com/assets/952783/6262987/20c43f92-b7c4-11e4-8b6b-c979bf42c5c5.png)

[2015-02-19 17:23] zertosh commented on #44
Fixing upstream, then I'll merge it back down

[2015-02-19 19:05] cesarandreu commented on #31
Thanks :D!!

[2015-02-20 14:11] zertosh commented on #44
Fix by https://github.com/babel/babel-sublime/pull/45 and published as https://github.com/babel/babel-sublime/releases/tag/v4.0.1. And the screenshots were updated in https://github.com/babel/babel-sublime/pull/46.

@thejameskyle The new version should get picked up by Package Control within an hour.

[2015-02-20 14:11] #44 closed

[2015-02-22 00:05] steida opened #47 "Is atom.io version planned?"

[2015-02-22 00:14] sebmck commented on #47
See previous discussion [here](https://github.com/babel/babel-sublime/pull/1#issuecomment-70346280).

[2015-02-22 00:14] #47 closed

[2015-02-23 04:14] Dashed commented on #47
Looks like this wouldn't be a trivial port to Atom. https://github.com/babel/babel-sublime/pull/1#issuecomment-75414992

If someone really wanted to, they'd have to port babel-sublime to atom from scratch or something.

[2015-02-24 18:28] joemaller opened #48 "Scoping JSX snippets to HTML?"
Just started thinking about this, but I wanted to get a conversation going.

It should be possible to scope React's JSX blocks to HTML, most likely named `text.html.jsx`. If that worked, wouldn't we suddenly gain access to all of the HTML tools available to Sublime? At very least, this should enable Sublime's build-in Expand Selection to Tag. Formatters/Tidy would be welcome.

I haven't looked int

[2015-02-24 20:24] zertosh commented on #48
Interesting. I wonder if it breaks eslint. It shouldn't break JSXHint because there's a transpile step there. But I think eslint only lints certain scopes. I could be mistaken. I'll investigate. Good call!

[2015-02-24 20:47] aldendaniels opened #49 "Local Variable Highlighting"
**sublime-react:**
![screen shot 2015-02-24 at 2 49 04 pm](https://cloud.githubusercontent.com/assets/4658558/6358882/6e58da0a-bc34-11e4-99ca-14484b25a60e.png)

**bable-sublime:**
![screen shot 2015-02-24 at 2 49 23 pm](https://cloud.githubusercontent.com/assets/4658558/6358888/723cb452-bc34-11e4-8683-e4d45d312ff9.png)

I'm using the [predawn](https://github.com/jamiewilson/predawn) theme. Any ide

[2015-02-24 23:03] ms88privat opened #50 "multiline arguments/parameters are not formatted in class functions"
example:

constructor({name = 'abc', data = []}) {
  // name and data are formatted
}

constructor({
 name = 'abc',
 data = []
}) {
// name and data NOT formatted
}

anyway, thanks for this plugin :)!

[2015-02-25 01:01] zertosh commented on #49
@aldendaniels It's the theme. https://github.com/jamiewilson/predawn/blob/4024b8/predawn.tmTheme#L164-L171

Predawn colors `variable` scopes, which `babel-sublime`/`JavaScriptNext` match. The "stock" JavaScript, which is what `sublime-react` is based on, does not match `variable` - which is why you see it with the default color. If you place your cursor over any text and press `shift+control+p`, S

[2015-02-25 01:01] #49 closed

[2015-02-25 01:05] zertosh commented on #50
Hey @ms88privat, glad you like it. Unfortunately this is a known Sublime limitation. The regex parsing can't match across lines :disappointed:

[2015-02-25 01:05] #50 closed

[2015-02-25 01:10] zertosh commented on #50
sorry, closed it too soon. A _hack_ you can use to get around this, is to use a theme that colors arguments/params the same as variable assignments. For example,

![hywss](https://cloud.githubusercontent.com/assets/830952/6362991/ddf46966-bc60-11e4-9021-009ea15b8cd0.png)
 ^ this is [dracula](https://github.com/zenorocha/dracula-theme), my personal theme of choice - which much like whatever you're

[2015-02-25 01:14] zertosh commented on #49
Fun story @aldendaniels: I accidentally left predawn on after I tested it, and I noticed something interesting. The problem you're having might actually be a _good thing_, here is why: https://github.com/babel/babel-sublime/issues/50

[2015-02-25 04:55] aldendaniels commented on #49
@zertosh - thanks for the explanation! The `shift+control+p` shortcut will also come in handly.

[2015-02-28 10:36] tomatau opened #52 "Support ES6 class static properties"
You supply nice highlighting on

[code]

Would be nice if you also supported

[code]

And if it's not too much trouble: async (supported in objects but not classes) and memo (experimental but very powerful) http://babeljs.io/docs/usage/transformers/#es7-experimental-

Generator `*`s, could be more clear too as they currently blend in with the `function` word

[2015-02-28 14:30] 0x80 commented on #31
Noooo I was just getting used to the snippets! :) Creating them manually with the given instructions is a pain, so I placed them in a [repo](https://github.com/0x80/babel-sublime-snippets) again.

[2015-02-28 14:51] zertosh commented on #31
@0x80 What I really wanted to do was have Sublime ignore the snippets, but AFIK there is no way for a package to selectively self-ignore a directory. But, there are two alternatives: I could ZIP up the snippets, or change their extension to something like `whatever.sublime-snippet.disabled`. Both would require some work on part of the user - but less so than copy/pasting. Do you think any of those

[2015-02-28 14:57] gpbl commented on #31
IMHO is a good idea to keep them in a separate repo, maybe available on package control :-)

[2015-02-28 16:04] 0x80 commented on #31
A zip would work for me, but maybe a repository makes sense. I would choose a zip over file renaming.

[2015-03-01 00:23] zertosh commented on #52
Fixed in https://github.com/babel/babel-sublime/pull/53. Package Control should pick up the update within an hour.

![fixed async generators](https://cloud.githubusercontent.com/assets/830952/6428853/4cd87cf2-bf7f-11e4-8bbc-af240b9e56f1.png)

[2015-03-01 00:23] #52 closed

[2015-03-01 01:56] zertosh commented on #31
What would a dedicated babel snippets package look like? Just React stuff seems a little odd.

[2015-03-01 09:02] tomatau commented on #52
nice thanks :dancer:

[2015-03-01 12:39] Dashed opened #54 "Names of static functions aren't scoped"
In the following:
[code]

`get` in `function get(keyPath)` isn't scoped to `entity.name.function.js` (and thus not colorized).

It's only scoped to `meta.function.static.js`.

[2015-03-02 01:44] zertosh commented on #54
Fixed in https://github.com/babel/babel-sublime/pull/55. Should be in Package Control in ~30min.

**Before:**
![019ba98e-bfe9-11e4-8da4-de93d1c13c50](https://cloud.githubusercontent.com/assets/830952/6434294/905b3f76-c053-11e4-8461-5f00f3d7f178.png)

**After:**
![02ccbcee-bfe9-11e4-88e7-b52cc6145723](https://cloud.githubusercontent.com/assets/830952/6434296/94a64896-c053-11e4-8137-85948655cb5f.png

[2015-03-02 01:44] #54 closed

[2015-03-02 02:17] Dashed commented on #54
@zertosh Thanks! :+1:

[2015-03-02 03:03] zertosh commented on #54
np <del>@ Arthur</del> @Dashed

[2015-03-05 21:11] vanntastic opened #57 "es6 functions not showing up in goto symbol in project"
Just noticed that es6 functions aren't showing up in the goto symbol in project command palette - they show up just fine in the goto symbol (in the current file) palette. Is there some symbol re-indexing that I need to do? Or is there something else that needs to happen?

[2015-03-06 02:07] zertosh commented on #57
Thanks for the report! Fixed in https://github.com/babel/babel-sublime/pull/58. The update should get picked up by Package Control in about ~30min.

[2015-03-06 02:07] #57 closed

[2015-03-06 02:12] zertosh commented on #30
@sebmck If you missed it, I added more `async` and generator function goodness in https://github.com/babel/babel-sublime/issues/52 a few days ago

[2015-03-06 02:16] sebmck commented on #30
@zertosh Woo, awesome!

[2015-03-06 04:29] vanntastic commented on #57
just updated the package, works great! you guys are awesome! thanks!

[2015-03-06 16:26] vanntastic opened #59 "goto definition for es6 methods"
goto definitions doesn't seem work for es6 methods, however they do work for standard es5 methods. Is there anything that I can look at to make it work?

Thanks!

[2015-03-06 19:42] zertosh commented on #59
I'll be honest, I only use "Goto Symbol", and figuring out "Goto Symbol in Project" was just an extension of that. I have no idea how "Goto Definition" is supposed to work. I tried it with some ES5 files, using the stock JavaScript syntax, and I'm still not sure I understand what the expected behavior is. Can you help me understand? Maybe point me to some docs?

According to [Symbols — Sublime Tex

[2015-03-07 03:07] mattdesl opened #60 "Breaking Syntax"
The following code loses all syntax highlighting after `{ //first comment`.

The issue looks to be because of `i<p` -- using spaces as in `i < p` fixes it.

[code]

Apologies if this is the wrong repo for this ticket.

[2015-03-07 14:25] zertosh commented on #60
Hey @mattdesl, this is the right repo. The problem is this one https://github.com/babel/babel-sublime/issues/29. Basically, it's where to draw line between what looks like a JSX tag vs a less-than comparison. The reason we can't 100% determine whether something is JSX is because Sublime can't do multiline matches - and a JSX tag can span multiple lines.

For this particular case, where the charact

[2015-03-07 17:07] mattdesl commented on #60
Cool, thanks.

I don't use JSX so I would also be open to some option or config to just have it disabled. :smile:

[2015-03-07 19:02] vanntastic commented on #59
hmmm, I'll see if I can take a look at what other packages to see what they're doing, but I'm not familiar enough with sublime text language files. I'll keep you posted if I find anything.

[2015-03-07 19:41] #60 closed

[2015-03-07 19:45] zertosh commented on #60
@mattdesl The fix should be in Package Control within an hour.

Sadly you can't pick-and-choose like that :disappointed: But, if you're not at all interested in JSX or flow types (coming soon), then may I suggest you try https://github.com/Benvie/JavaScriptNext.tmLanguage. That's strictly modern JavaScript. In fact, it's the basis for ES6 support in `babel-sublime`.

[2015-03-14 19:00] roadhump opened #68 "Does not highlight dot before "static" methods"
Dot inside  `Cursor.from` can't be highlighted

![screenshot 2015-03-14 21 57 09](https://cloud.githubusercontent.com/assets/234692/6653098/4c505e3c-ca95-11e4-883f-a4e1aad73768.png)

[2015-03-15 05:03] zertosh commented on #68
Fixed in https://github.com/babel/babel-sublime/pull/69. Package Control should pick up the update in ~40min.

[2015-03-15 05:03] #68 closed

[2015-03-15 05:04] zertosh commented on #59
Any progress @vanntastic?

[2015-03-15 12:24] zertosh commented on #48
Hey @joemaller, I fixed the "Expand Selection to Tag" bug in https://github.com/babel/babel-sublime/pull/70. I also looked into scoping JSX as `text.html.*` and it didn't really work with other HTML tools as you suggested. If you have any luck with this, PRs are welcome or open another issue.

[2015-03-15 12:24] #48 closed

[2015-03-15 13:56] roadhump opened #71 "Move snippets to separate plugin"
How about an idea to create separate ST plugin with snippets from `SNIPPETS.md`, something like `react-es6-snippets `? These snippets are useful and it is not fun to copy them by hands. I can do it by myself, just look for approval, hope there is no any scary legal stuff.

[2015-03-15 14:33] zertosh commented on #71
Someone did that already (see https://github.com/babel/babel-sublime/issues/31#issuecomment-76528169). React snippets alone don't make sense under the Babel org, but having them included by default as part of `babel-sublime` has its own problems (see the earlier thread). An ES6 plus React snippets package would make sense, but I can't really maintain that because... I don't use snippets :expressio

[2015-03-15 14:41] roadhump commented on #71
Great, sorry, should check issues before asking

[2015-03-15 14:41] #71 closed

[2015-03-15 15:14] zertosh commented on #71
no problem. btw, great job on `SublimeLinter-eslint`!

[2015-03-16 14:58] vanntastic commented on #59
@zertosh I haven't had a chance to dig into it much, it's not a big deal - feel free to close this if you want

[2015-03-19 10:29] klaemo opened #72 "Slashes break template string highlighting"
Hey,
while template strings in general are highlighted correctly, it seems like when they contain slashes everything following these is treated as a comment.

![bildschirmfoto 2015-03-19 um 11 22 51](https://cloud.githubusercontent.com/assets/778624/6728547/d809cce0-ce2a-11e4-8a8e-5035b6a085aa.png)

Thank you!

[2015-03-19 10:31] sebmck commented on #72
Are you sure you're using `babel-sublime`? Template literals are escaped and syntax highighted correctly for me.

![screen shot 2015-03-19 at 9 29 48 pm](https://cloud.githubusercontent.com/assets/853712/6728630/3203706c-ce7f-11e4-8619-ee1741c31369.png)

[2015-03-19 10:32] klaemo commented on #72
haha sorry! my entire project uses babel-sublime except that one file for some reason! :laughing:

[2015-03-19 10:32] #72 closed

[2015-03-21 17:22] ryanberckmans opened #73 "syntax highlighting for fat arrow functions with one parameter and no parentheses"
When a fat arrow function has one parameter it may legally omit parentheses. In this case syntax highlighting is disabled for the fat arrow function:

![image](https://cloud.githubusercontent.com/assets/299324/6766047/56c93608-cfcd-11e4-8a52-fc622214d64a.png)

[2015-03-24 12:51] roman01la commented on #73
+1

[2015-03-24 14:23] zertosh commented on #73
Sorry, I've been waiting this to merge upstream, but I'll just merge it here and then later revert when I sync back down the changes.

[2015-03-24 15:16] zertosh commented on #73
Fixed in https://github.com/babel/babel-sublime/pull/74. Published as v4.0.14. Package Control should pick up the update in like an hour.

[2015-03-24 15:16] #73 closed

[2015-04-01 13:21] cwmanning commented on #14
+1

[2015-04-02 07:18] hiscodeness commented on #34
I noticed that syntax highlighting of class functions breaks with Allman style (brace on new line).

![image](https://cloud.githubusercontent.com/assets/8625258/6959433/804b4284-d921-11e4-8a62-0bfc8d93fa66.png)

Is there a workaround for this?

[2015-04-02 14:25] zertosh commented on #34
@hiscodeness I'm afraid not. https://github.com/babel/babel-sublime/issues/50 goes into a bit more detail. In this case, there is no way to tell apart between `constructor(imageDefinition)` being a function call or method definition when the `{` is on another line.

[2015-04-02 21:49] gpbl opened #76 "static not highlighted in class properties"
I was playing with Babel 5.0.0 and I saw the `static` keyword does not get the color

<img src="https://cloud.githubusercontent.com/assets/120693/6974349/351f8060-d992-11e4-8cc7-63d98bbb9832.png" width="270">

[2015-04-07 06:29] hiscodeness commented on #34
That's unfortunate, but totally understandable. Thanks for the response!

[2015-04-08 06:08] hiscodeness opened #77 "syntax highlighting of HTML/XML snippets"
I'd like to have syntax highlighting of multiline HTML and XML strings, as that is something that is available with the default JavaScript view. Here's the default view for JavaScript files:

![image](https://cloud.githubusercontent.com/assets/8625258/7039632/7d08f6c4-ddcd-11e4-80a9-aaf1cc26d08f.png)

And here's the same content with babel highlighting:

![image](https://cloud.githubusercontent.co

[2015-04-08 14:48] zertosh commented on #77
@hiscodeness It's not that it's available in the stock JavaScript syntax definition, it's that it's incorrectly handling template strings. The stock definition doesn't recognize template strings at all, so it treats everything inside of one like regular js. That's why in your example it _appears_ as highlighted html, when in fact, it's highlighted js. Notice below how the `for` and `with` are high

[2015-04-08 18:49] hiscodeness commented on #77
Ok, thanks for clearing that up for me and setting me straight. :-) Closing this as bogus request.

[2015-04-08 18:49] #77 closed

[2015-04-09 02:48] bathos opened #78 "Escaped characters in interpolated strings ("quasis")"
It looks like these don’t currently have a scope I can target.

[2015-04-09 03:11] zertosh commented on #78
Just pushed the fix as v4.0.15. Package Control should pick up the update within the next hour.

[2015-04-09 03:18] bathos opened #80 "Binary and new-style octal literals not recognized as numbers."
0o01
    0b01

The zero gets caught as numeric, and the remainder is interpreted as variable.readwrite. It would be nice if, in addition to matching numeric, base prefixes (0o, 0b, and 0x) were themselves given a scope.

[2015-04-09 03:21] bathos opened #81 "Regexp delimiters"
Given a regexp:

    /hello/

The opening slash only has the scope `string.regexp.js` while the closing slash has the scope `string.regexp.js punctuation.definition.string.end.js`. It seems like both should be targettable.

[2015-04-09 03:25] bathos commented on #78
Awesome. I just added two more issues. It's a fantastic package, I'm having great fun trying to write my first theme!

[2015-04-09 03:30] zertosh commented on #78
Thanks! That's great, let me know when you have it ready so I can check it out :smile:

[2015-04-09 03:30] #78 closed

[2015-04-09 03:40] zertosh commented on #80
Pushed the fix as v4.0.16. Package Control will pick up the update in 20min.

[2015-04-09 03:40] #80 closed

[2015-04-09 03:46] zertosh commented on #81
Hmm this one is complicated. I'm going to need some time.

[2015-04-09 04:11] bathos opened #83 "Storage type differentiation"
Currently, the following are all under `storage.type`:

- async
- var
- let
- constant
- static

Contrast with function, arrow function, class, accessor (get/set), and extends, which all have unique scopes (aside: is "extends" really a "storage type"? I'm no grammar buff, so I could be totally wrong, but isn't it almost more of an operator? scratch that, no ... I have no idea what it should be).

[2015-04-09 04:19] bathos commented on #83
Nevermind -- while the above does still makes sense to me, I've discovered that I can target 'async' with `meta.function storage.type`, and 'static' with `meta.method storage.type`, and I don't think there's any collision.

[2015-04-09 04:19] #83 closed

[2015-04-09 04:24] bathos commented on #83
On the other hand I've also discovered that constructor (as in, within a class declaration) cannot be specified -- the scope I thought was used for that was not.

[2015-04-09 05:23] bathos opened #84 ""Await" miscategorized?"
Could be wrong about this, but my gut says 'await' belongs in `keyword.control.flow` alongside return and yield (the latter being a close relation) rather than in `keyword.operator`.

[2015-04-09 16:42] bathos opened #85 "Odd scope encountered -- correct behavior?"
I'm not sure what's going on here with the maxLogs identifier (yellow):

![image](https://cloud.githubusercontent.com/assets/6257356/7071646/8bb0fc2a-deb4-11e4-9c00-7119f791b18a.png)

The scope on maxLogs is:

`(...) constant.other.object.key.js string.unquoted.label.js`

If I enclose it in parentheses, the scope changes to `variable.other.readwrite`, which is how it gets identified everywhere els

[2015-04-11 01:26] bathos opened #86 "meta.group.braces.round.function.arguments"
This scope applies correctly for bare function invocations and method invocations:

    foo();
    bar.foo();

But it's missing when the function is or appears to be a constructor, with or without new:

    Foobar();

Whose parens instead receive meta.group.braces.round.js meta.brace.round.js

[2015-04-11 01:34] bathos opened #87 "Scope for class names"
Currently the following rules apply in most cases:

- A lowercase identifier is variable.other.readwrite
- An all-uppercase identifier is variable.other.constant

It seems reasonable also to recognize that variables which begin with a capital are constructors. The only time constructors become targettable is when they are being invoked to create an instance:

`new Foo()`: meta.instance.constructor

[2015-04-11 02:17] bathos opened #88 "yield* asterisk not recognized correctly"
In `yield* iterable` (or `yield * iterable` or `yield *iterable`, all valid forms), the asterisk is being mistaken for the multiplication operator.

[2015-04-11 02:18] sebmck commented on #88
Do you have full code examples?

[2015-04-11 02:20] bathos commented on #88
sure, but it's been true in every variation I've tried, so I figured the rule was just missing?

    function* foo() {
        yield * [1, 2];
    }

[2015-04-11 02:20] sebmck commented on #88
Oh shit whoops, I thought this was an issue on the main `babel` repo... sorry!

[2015-04-11 02:23] bathos commented on #88
oh haha -- no, Babel always works perfectly :>

[2015-04-11 02:53] zertosh commented on #88
@sebmck lol

[2015-04-11 03:09] zertosh commented on #87
I'm confused on what it is exactly that you're asking for

[2015-04-11 03:32] zertosh commented on #86
I see this with `new` but not when it's a bare invocation on a capitalized function:

[code]

[2015-04-11 03:47] zertosh commented on #85
The syntax matching has no sense of order of operation - It's all dumb regexs. Operators like arithmetic, `?` or `:`, get [matched individually](https://github.com/babel/babel-sublime/blob/0941f77a977f047d1ff5b36d489e2108418f849f/JavaScript%20(Babel).YAML-tmLanguage#L762-L839). Sublime's regex can't match across lines. It's a terrible limitation - just look through the issues. To compensate, there

[2015-04-11 03:48] zertosh commented on #84
Yeah, makes sense to me.

[2015-04-11 04:15] bathos commented on #85
Understood! Honestly I'm amazed by the regex wizardry tmTheme requires and it's not surprising that it has limits like this. Actually it left me wondering why the standard for this stuff is based on pattern matching instead of actual tokenization, which seems like it must be more efficient, but a standard is a standard.

[2015-04-11 04:22] zertosh commented on #85
Sublime just released (this week) a [new syntax format](http://www.sublimetext.com/docs/3/syntax.html). I haven't had a chance to dig into it yet, but it looks promising.

[2015-04-11 04:25] bathos commented on #87
Sorry. This one is indeed a feature request, not a bug. I mean to say that it would be awesome if 'MyConstructor' in the following examples received a common scope like 'entity.name.constructor':

    class MyConstructor {}

    new MyConstructor()

    MyConstructor

The second one already does get a targettable scope (entity.name.type.new) but the others don't. The last may be too opinionated, I

[2015-04-11 04:28] bathos commented on #86
Yup, you're right. Not sure why I thought it happened in the second case, too, it's just the third one.

[2015-04-11 04:28] bathos commented on #86
Oh, wait, yes I do -- try this:

    Foo(arg)

[2015-04-11 15:47] #85 closed

[2015-04-11 16:01] zertosh commented on #86
Oh I see what you mean. You've hit another issue like https://github.com/babel/babel-sublime/issues/85. The reason why the parens are matched differently for `()` and `(a)` is because of the same multi-line limitation. Since you can pass anything into a function (things that you'd write out across multiple lines), you have to match _open parens followed by anything that is not a close parens_ as m

[2015-04-11 16:21] zertosh commented on #87
In this case, `MyConstructor` gets `entity.name.class`, which I think makes sense, since you're defining a class, not instantiating a constructor.

Here, `MyConstructor` gets `meta.instance.constructor`, which I also think makes sense, for the opposite reason as above. You might not have noticed this, but if you try `new ObjectBag.My.Constructor()`, the entire name is still `meta.instance.construc

[2015-04-11 17:47] bathos commented on #87
Well awesome, I somehow missed entity.name.class for the first case! That's the one I thought was more important, but I was mistaken that it was absent.

I totally agree re: use of new. I'm not sure why acknowledging the naming convention is "wayyy" too opinionated ("regular" opinionated would do I think) since it's an even more commonly agreed on convention than CAPCONSTANT, but I agree it wouldn

[2015-04-11 17:52] bathos commented on #86
Got it, makes sense. I have been grouping colors like you've suggested there when it helps with these things. Apologies for spamming issues; it's not really clear to me which are solvable bugs and which are just limitations of tmTheme, though I'm starting to get a feel for it.

[2015-04-11 17:58] zertosh commented on #86
No worries - you're not spamming. I've tagged the ones that are fixable with "Bug". I'll get to them this weekend.

[2015-04-11 20:39] zertosh commented on #88
Fixed by https://github.com/babel/babel-sublime/pull/89

[2015-04-11 20:39] #88 closed

[2015-04-11 20:40] zertosh commented on #84
Fixed by https://github.com/babel/babel-sublime/pull/89

[2015-04-11 20:40] #84 closed

[2015-04-11 20:45] zertosh commented on #81
Fixed by https://github.com/babel/babel-sublime/pull/90. It _works_ but the regexp matching is really weird, so if issues crop up, I might have to revert it and find another fix.

[2015-04-11 20:45] #81 closed

[2015-04-11 20:46] #86 closed

[2015-04-11 20:48] zertosh commented on #87
heh I'm kidding with the extra "yyy". Even the DOM API follows "CAPCONSTANT", so I'd call that a defacto standard :stuck_out_tongue:

[2015-04-11 20:48] #87 closed

[2015-04-11 21:39] #76 closed

[2015-04-11 21:56] zertosh commented on #59
@vanntastic I think that maybe after https://github.com/babel/babel-sublime/pull/75, this might be fixed by turning off the stock JavaScript package. Checkout [advanced usage](https://github.com/babel/babel-sublime#advanced-usage) and let me know if you can give it a try.

[2015-04-12 05:52] bathos opened #92 "Missing support identifiers"
`support.class.builtin.js` is missing WeakSet and Symbol (I think Symbol is not a class, technically, but I'm not sure where else it should go).

`support.type.object.node` is missing require (could be grouped with support functions I suppose, but it does also have properties)

`support.module.node.js` is missing querystring

`support.class.builtin.js` is missing all of the typed arrays plus Array

[2015-04-12 21:29] axefrog opened #93 "Feature request: decorator support"
@decorators are currently missing syntax highlighting support

Further info can be found here: https://github.com/wycats/javascript-decorators
This spec seems to be catching on and has already been integrated into Aurelia. Would love to see syntax highlighting in sublime.

[2015-04-12 21:33] axefrog opened #94 "Hyphenated custom elements syntax-highlighted incorrectly"
Hyphenated elements are are not syntax-highlighted correctly. The first part of the element comes out in one colour and everything after the first hyphen comes out in another colour.

[2015-04-12 22:59] zertosh commented on #94
They work for me. Are you sure you've got "JavaScript (Babel)" as the syntax? Can you post a screenshot?

[2015-04-13 00:21] #93 closed

[2015-04-13 00:22] zertosh commented on #93
Published as v5.0.3. The update should get picked up by Package Control in ~10min.

[2015-04-13 03:01] axefrog commented on #94
Sorry I assumed that HTML was supported as well, custom elements being enabled as part of the Web Components spec, but realised using HTML. I just realised that this is nothing to do with Babel though. In any case, if you want your included color schemes to support custom elements, that'd be nice.

[2015-04-13 03:03] axefrog commented on #93
Thanks, nice work!

[2015-04-13 03:07] zertosh commented on #94
I'm confused. They _color_ just fine. No?

![zuceu](https://cloud.githubusercontent.com/assets/830952/7109299/b4fe3e10-e168-11e4-9c8b-87236b4d478f.png)

[2015-04-13 05:53] axefrog commented on #94
That's a JavaScript file utilizing JSX syntax.

I'm talking about the syntax highlighting in a literal HTML file.

[2015-04-13 06:02] Dashed commented on #94
@axefrog babel-sublime doesn't provide highlighting for HTML files.

[2015-04-13 13:59] #94 closed

[2015-04-14 22:51] zertosh opened #96 "reactjs/sublime-react deprecation"
TODO:

  * [x] New screenshots and readme w/o comparison.
  * [x] Bring back snippets and update to React 0.13.0
  * [x] Add note thanking @jgebhardt and @zpao

[2015-04-15 08:52] JakovlevDS commented on #96
Are you going to add syntax highlight for *.cjsx files (Coffee Script React)? That would be cool. Thanks.

[2015-04-15 08:53] miklschmidt commented on #96
With this deprecation, support for CJSX dissappeared. All of my files now look like shit. Is there any chance you will support CJSX aswell?

[2015-04-15 10:58] zertosh commented on #31
@sebmck can I haz a `babel-snippets` (or `babel-sublime-snippets`) repo?

[2015-04-15 15:08] vegetableman commented on #96
CJSX :(

[2015-04-15 15:37] zertosh commented on #96
I'm afraid that I have no plans of adding CJSX support since babel doesn't support coffeescript syntax. Maybe @jsdf can take old CJSX syntax definitions and maintain them?

[2015-04-15 15:44] rbhalla opened #97 "Colour scheme seems to be inconsistent with screenshots"
A small difference I can't really wrap my head around.

My object keys seem to be in yellow, and every dot is highlighted red. In the screenshots below I'm editing a .jsx file set to use the JavaScript(Babel) syntax in sublime.

![screen shot 2015-04-15 at 16 39 32](https://cloud.githubusercontent.com/assets/5897045/7162763/63975f34-e38e-11e4-9b14-8320bc168697.png)
![screen shot 2015-04-15 at 16 3

[2015-04-15 15:58] zertosh commented on #97
So there is no "normal" color matching. Sublime syntax highlighting is composed of two parts: A syntax definition, and a theme that responds to the "scopes" in the definition with a certain color. babel-sublime is first and foremost the former, a syntax definition. We [bundle](https://github.com/babel/babel-sublime#setting-a-color-scheme) a Monokai-like theme, that understands a few more scopes th

[2015-04-15 16:03] rbhalla commented on #97
Hi zertosh,

Thanks for that great explanation. I think my main issue here is that those particular highlights only appear on files where I use Javascript(Babel) highlighting. I'm currently using Monokai(SL) which I believe is the default theme. Even when switching over the bundled Phoenix theme I still see these odd syntax highlights. So based on my limited understanding, it seems that this theme

[2015-04-15 16:06] Dashed commented on #96
Kinda surprised by this deprecation.

----

@JakovlevDS @miklschmidt @vegetableman

You guys could just copy and paste the following as a new sublime package (or into your sublime user folder): https://github.com/reactjs/sublime-react/tree/ec17f5dfd00eaa326dc299a4febd46cac21e7904/syntax/jsx-coffee

----

@zertosh What do you mean by "bring back snippets"?

[2015-04-15 16:06] sebmck commented on #31
Tah dah https://github.com/babel/babel-sublime-snippets

[2015-04-15 16:50] zertosh commented on #31
@sebmck thanks!

[2015-04-15 16:55] zertosh commented on #96
@Dashed I'm going to add back the React snippets and some new ES6 ones as a separate package so they can be opt-in and independent of the syntax definition. https://github.com/babel/babel-sublime-snippets

[2015-04-15 17:10] zertosh commented on #97
Ah, I think I understand your question now. So the stock JavaScript syntax is actually pretty limited. Not just in terms of modern JS constructs like `class` and arrow functions, but also in terms of fine detail in existing constructs like the `.` when accessing a property. babel-sublime is more thorough and actually lets themes know that `.` is a thing, whereas before, those things went unmatched

[2015-04-15 18:05] jessepollak commented on #96
Just adding in my support for CoffeeScript support! Thanks for your time and effort :)

[2015-04-15 18:50] dstauffer commented on #96
cjsx :(

[2015-04-15 18:50] jgebhardt commented on #96
FYI sublime-react in its current state already/still provides snippets. I'm not sure it's worth duplicating that effort, unless your focus is making them customizable based on your transform configuration. Not everyone using snippets is using Babel.

[2015-04-15 18:55] jgebhardt commented on #96
Re: CJSX, I'd encourage the coffeescript community to maintain a separate project altogether. Supporting both languages in sublime-react was –in hindsight– not a great move, since all of React, JSX and ES6 tend to introduce changes at different points in time. I realize that this is an inconvenient transition for coffeescript users, but it should make future upgrade easier for both sides.

[2015-04-15 18:59] zertosh commented on #96
@jgebhardt We had snippets but then I removed them (see https://github.com/babel/babel-sublime/issues/31). I've been meaning to make a package just for them, now seems like a good time.

As for CJSX, I'd be more than happy to add a link to whatever project takes over it.

[2015-04-15 19:04] jgebhardt commented on #31
FWIW, [sublime-react](https://github.com/reactjs/sublime-react) already provides the original snippets in a separate repo and works in combination with Babel.

[2015-04-15 19:09] jgebhardt commented on #96
@zertosh I understand they were removed, but sublime-react already provides snippets (actually, since removing the syntax in favor of Babel, that's all it provides). I don't plan on removing the remaining package, as many people are using it specifically for snippets.

What improvements do you envision babel-sublime-snippets to provide over sublime-react?

[2015-04-15 19:16] zertosh commented on #96
@jgebhardt More ES6 specific stuff like `import`, something for arrow functions, etc. And as far as React stuff, things like `import React, {PropTypes} from 'react;`, a skeleton for React ES6 classes, etc.

I based the original snippets on what was on sublime-react, but I switched them to using ES6 syntax, like short method definitions. They're all listed here https://github.com/babel/babel-sublim

[2015-04-16 08:10] n1ghtmare commented on #96
The deprecation was extremely annoying. Why can't we have both babel and reactjs (seriously, there is no legitimate reason - sure stop supporting it/working on it, but don't just make it stop working)? It took me a while to even realize there was a deprecation, I had to look at the repo and see the latest commit.
/rant

[2015-04-16 08:47] miklschmidt commented on #96
@n1ghtmare i agree, it's not cool deprecating (actually not deprecating, directly removing without warning) something without a proper substitution. Is there anyone with experience in syntax definitions who could maintain a new repo? If not i'll take a look at throwing together a repo and sublime package, but i have no idea what i'm doing.

[2015-04-16 14:51] rbhalla commented on #97
Ahh ok, in that case how would I achieve a colour as consistent as the screenshots if not by using the standard Monokai theme and the bundle Phoenix theme?

[2015-04-16 15:15] zertosh commented on #97
The screenshots are using the bundled "Monokai Phoenix" so yeah that's one option. (Oceanic Next Theme)[https://github.com/voronianski/oceanic-next-theme] and [Predawn](https://github.com/jamiewilson/predawn) have pretty good support, but they look very different than Monokai.

[2015-04-16 15:20] rbhalla commented on #97
That's the thing, the Phoenix thing doesn't seem to be an option as the same thing happens with it.

![screen shot 2015-04-16 at 16 19 35](https://cloud.githubusercontent.com/assets/5897045/7184302/7a575cc6-e454-11e4-80c7-b4d44e276731.png)

[2015-04-16 15:29] zertosh commented on #97
oh no, I'm soooo sorry. My eyes deceived me. The screenshots are outdated :( The red dot is correct when using Monokai Phoenix. I'll get new ones out. Again, I'm sorry for dragging this convo on my mistake.

PS: Making perfectly aligned screenshots is really hard :stuck_out_tongue:. It took me half a day to make those 4. So I tend to not update them frequently.

[2015-04-16 15:37] rbhalla commented on #97
Haha, no problem :)

I'll mark this issue as closed since it really isn't a problem then. If you find any themes that have the old theme behaviour and still look Monokai let me know!

[2015-04-16 15:37] #97 closed

[2015-04-16 21:15] demircancelebi commented on #32
I have the same issue as well

[2015-04-16 21:20] zertosh commented on #32
@demircancelebi Can you open a new issue with more detail on your particular case?

[2015-04-17 09:52] mstrandgren opened #98 "Coffeescript?"
sublime-react syntax highlighting supported cjsx, i.e. coffeescript with jsx. Any plans for babel to do the same? I can't get the deprecated sublime-react syntax highlighting to work anymore.

[2015-04-17 10:14] jamwaffles opened #99 "Syntax highlighting of "yield" inside other words"
As far as I know this is only for `yield`. Test case:

[code]

![image](https://cloud.githubusercontent.com/assets/800791/7200230/d174d684-e4f2-11e4-873d-41be5636150b.png)

`yield` shouldn't be purple as it's part of another word. As far as I know this doesn't happen with any other keywords.

[2015-04-17 11:01] chrisjhoughton commented on #14
+1

[2015-04-17 12:21] zertosh commented on #14
Unfortunately, Sublime doesn't support multiline matches, which make it impossible to match the text inside of tags. Sublime's new [syntax](http://www.sublimetext.com/docs/3/syntax.html) shows promise, but it came out just a few weeks ago - it needs a bit of time to mature and I need to think about how to work it into babel-sublime.

FWIW, you can always wrap your text like so `{"text"}`.

[2015-04-17 12:22] zertosh commented on #99
I broke that in https://github.com/babel/babel-sublime/pull/89 :(

[2015-04-17 12:25] zertosh commented on #98
Sorry, no plans whatsoever.

Side note: I feel that this something that the coffeescript community should take over. The sublime-react repo is still there, anyone can fork it and re-publish just the coffeescript parts.

[2015-04-17 12:25] #98 closed

[2015-04-17 13:10] chrisjhoughton commented on #14
Yeah thanks I'll do that from now on, just frustrating the finished working components that were working great with sublime-react now look like this: (and there's no way of switching back)

![screen shot 2015-04-17 at 14 09 55](https://cloud.githubusercontent.com/assets/2671525/7202563/8713cd70-e50b-11e4-89d5-129313864038.png)

[2015-04-17 14:46] zertosh commented on #14
@chrisjhoughton sublime-react didn't actually work great. The text inside JSX tags was matched as regular JS, so keywords like "for" and "if" got syntax highlighting. However, I ran a quick test and you're partly right. It turns out that if the quote is in between two characters, it doesn't match as a "string" - but if it's preceded or followed by a space, then it is:

![1-2-3-4](https://cloud.git

[2015-04-18 03:10] #99 closed

[2015-04-18 03:12] zertosh commented on #99
Published as v5.0.4. The update should get picked up by Package Control in about an hour.

[2015-04-18 14:18] zertosh commented on #14
You can follow the progress in https://github.com/babel/babel-sublime/pull/102. Feel free to test it. It's a pretty big change, so I'm going to personally use it this coming week before rolling it out.

[2015-04-18 16:26] chrisvfritz commented on #96
As it appears that CJSX will never be supported in this package, I recommend [migrating our efforts to aponxi/sublime-better-coffeescript](https://github.com/aponxi/sublime-better-coffeescript/issues/148).

[2015-04-19 09:54] alanrubin commented on #96
It is definitely not cool to wake up one morning and seeing your cjsx files in sublime look like plain text files without having any proper feature substitution. Before deprecating something unexpectedly I would expect authors to think about all user current using the plugin and giving them time to adapt accordingly. Thanks for taking them into account next time.

[2015-04-19 10:48] n1ghtmare commented on #96
@alanrubin I absolutely agree, that was definitely not cool. I ended up setting up `auto_upgrade` to false and restoring the `Packages` folder.

[2015-04-19 11:59] zertosh commented on #96
@alanrubin @n1ghtmare The repo is still there. All you have to go is clone it and point it to the commit before the deprecation.

[code]

[2015-04-20 07:17] n1ghtmare commented on #96
@zertosh Yep, thanks, that's what I did, I've created a fork and added it as a source to Package Control. Then set `auto_upgrade` back to `true`.

[2015-04-20 19:45] jbhatab opened #104 "functions in components not highlighted correctly."
In the picture you can see render and componentWillMount are just plain white, when they should be green. Also should json objects be yellow/yellow like they are? Looks kinda weird.

![screen shot 2015-04-20 at 2 38 29 pm 2](https://cloud.githubusercontent.com/assets/2458718/7238937/b2a03552-e76b-11e4-801d-a416a63c6ce4.png)

[2015-04-20 20:05] zertosh commented on #104
@jbhatab

w.r.t. the white class methods, that's because you're using the stock Monokai theme - which doesn't understand short method definitions. babel-sublime comes with "Monokai Phoenix", which has very similar colors to the stock Monokai, but recognizes ES6. (https://github.com/babel/babel-sublime/issues/97#issuecomment-93459132 goes into the difference between a syntax definition and a color

[2015-04-20 20:13] jbhatab commented on #104
pow awesome pow. Monokai Phoenix for the win. Thanks!!

[2015-04-20 20:13] #104 closed

[2015-04-22 00:33] kwood commented on #96
I've got a package hosted here, with the non-syntax highlighting stuff removed:
https://github.com/Guidebook/sublime-cjsx

You can add this as a repo manually.

Also improved the highlighting a wee bit -- it wasn't highlighting HTML attributes in the sublime-react version

[2015-04-22 00:35] treyp opened #105 "Regular expression containing quotation marks breaks highlighting"
When a regex contains two quotation marks, parsing gets a bit messed up:
![screen shot 2015-04-21 at 7 31 35 pm](https://cloud.githubusercontent.com/assets/49319/7265300/17179b78-e85d-11e4-8115-a0f815087c4d.png)

Example code:
[code]

Notice all the white keywords after the regex.

Regular Javascript highlighting looks like this:
![screen shot 2015-04-21 at 7 33 58 pm](https://cloud.githubusercont

[2015-04-22 01:02] zertosh commented on #105
Here is what I see:
![wznas](https://cloud.githubusercontent.com/assets/830952/7265525/4aa133e4-e869-11e4-87dd-7853e88d8f7b.png)

I noticed that in your first screenshot "findWebSocket" is white but your theme looks like the stock Monokai, so it should be greenish. Are you sure you're using babel-sublime? Or could there be something further up in the file that's messing it up?

(Also, could you tr

[2015-04-22 01:11] treyp commented on #105
You know what. I updated before I submitted this but I didn't restart Sublime. After I restarted, everything is working fine. Sorry for wasting your time!

[2015-04-22 01:11] #105 closed

[2015-04-22 01:14] zertosh commented on #105
no worries

[2015-04-22 16:15] chrisvfritz commented on #96
For those unaware, adding @kwood's repo manually involves:

1. Cmd/Ctrl+P > Package Control: Add Repository > https://github.com/Guidebook/sublime-cjsx
2. Cmd/Ctrl+P > Package Control: Install Package > sublime-cjsx
3. Open a `*.cjsx` file
4. View > Syntax > Open all with current extension as... > CJSX

[2015-04-23 16:41] tobia commented on #14
I tried this package, but I'm uninstalling in favor of the original [syntax file from the ReactJS package](https://github.com/reactjs/sublime-react/tree/ec17f5dfd00eaa326dc299a4febd46cac21e7904/syntax/jsx/tmLanguage), before it was <s> deprecated </s> removed without warning.

This syntax file is too colored. Everything is blue, not just static text inside tags, as per this current issue, but all

[2015-04-23 17:11] zertosh commented on #14
@tobia Thinking of themes and syntax definitions as the same thing is a common misconception. Things are blue because your theme decided so - not the syntax definition. https://github.com/babel/babel-sublime/issues/104#issuecomment-94554891 goes into this in more detail.

[2015-04-24 15:08] tobia commented on #14
Nope. Only your syntax file colors everything in blue. All other syntax file, including the stock Javascript and the ReactJS one, only color in blue some keywords, such as **function, var, this,** and HTML tags, as you can see from the first screenshot.

I'm aware that there's a level of indirection between syntax file and color scheme: the syntax tags, or whatever they are called, such as `string

[2015-04-26 03:47] dozoisch opened #106 "String not highlighted in class static props"
I would've expected `"MainApplication"` to be yellow like normal strings? Or am I missing something.

This is using Babel Monokai.

![image](https://cloud.githubusercontent.com/assets/4422516/7335791/19be3094-eba5-11e4-8b5c-b9482990f440.png)

[2015-04-26 19:07] zertosh commented on #14
@AprilArcus @Dashed: I merged https://github.com/babel/babel-sublime/pull/102 and published it was v6.0.0. I'm leaving what the [spec](https://facebook.github.io/jsx/) calls "JSXText" unscoped in the syntax.   The main reason is so that themes give it their chosen default color and not a string-like color - since it'll be confusing for those (like me) that already wrap children strings in JSX with

[2015-04-26 19:07] #14 closed

[2015-04-26 20:21] #96 closed

[2015-04-26 20:27] zertosh opened #107 "More detailed screenshots"
Should cover:
- The strengths of babel-sublime currently highlighted in the README.
- Screenshots need to be 728px wide (not 2X because they look stupid in the Package Control readme)
- A "known issues" screenshot that covers the edge cases in: https://github.com/babel/babel-sublime/pull/102 and https://github.com/babel/babel-sublime/issues/50.
- Maybe show a few different themes? Like [predawn](h

[2015-04-26 20:31] zertosh commented on #107
^ This is replace the existing ones - stop knocking on sublime-react

[2015-04-26 20:49] zertosh commented on #106
Just test text for me...

[code]

[2015-04-26 21:49] vegetableman commented on #96
Thanks for sharing the detailed steps. @chrisvfritz . you rock :+1:

[2015-04-27 03:39] dozoisch commented on #106
This is what I get

![image](https://cloud.githubusercontent.com/assets/4422516/7341306/7e469164-ec6d-11e4-856d-22b686ed34dc.png)

[2015-04-27 03:46] zertosh commented on #106
Oh yeah I know - sorry - it's a tester text for me. I put it here to keep track of it somewhere. The issue is actually kinda big. I need to refactor classes but I won't be able to get to it until next week.

[2015-04-27 03:47] dozoisch commented on #106
Ohh my bad! Misunderstood!

Thanks a lot and good job!

[2015-04-27 19:24] AprilArcus commented on #14
Thanks, @zertosh, this looks great to me!

[2015-04-28 11:25] chrisjhoughton commented on #14
Amazing, thanks so much

[2015-05-02 17:27] lax4mike opened #108 "Cpu 100% when using "Javascript (Babel)" syntax highlighting"
I started using es6, so I installed babel-sublime for the syntax highlighting.  When I apply the "Javascript (Babel)" syntax highlighter, my cpu spikes.  I found this article, which might explain why:

http://www.sublimetext.com/blog/articles/file-indexing

I do have a lot of files that need to be indexed (inside node_modules), but I'm wondering if there is something that can be optimized with bab

[2015-05-03 16:56] zertosh commented on #108
As I understand indexing, you only "pay" the cost of indexing when sublime sees a new file, then it's cached. To sublime, all your files are "new" since a new syntax definition (babel-sublime) got added. But I expect that once the re-indexing is done, it'll only then index truly new files - so you should only see prolonged high CPU use once. Does it the CPU at 100% never stop?

[2015-05-04 14:30] lax4mike commented on #108
It does stop eventually, and what you said sounds reasonable.  I'll keep an eye on it and see if this is a recurring problem.

[2015-05-04 14:30] #108 closed

[2015-05-05 13:04] marcselman opened #110 "Quote characters inside JSX"
Hi,
In a JSX file inside the html syntax it's perfectly valid to add a single or doublequote character for example:

[code]

But Babel sees the single quote as the start of a string without end and doesn't highlight this syntax correctly.

[2015-05-05 14:33] kevinsimper opened #111 "Punctation has a different color than on screenshots"
Here is what it looks like now
![image](https://cloud.githubusercontent.com/assets/1126497/7474857/51d523ec-f344-11e4-9d8c-6cb246535538.png)

But i actually prefer that the punctation does not have a special color, just like the screenshots.

[2015-05-05 23:23] zertosh commented on #110
It works - see https://github.com/babel/babel-sublime/pull/102. Are you sure you have "JavaScript (Babel)" as the selected syntax?

[2015-05-05 23:27] zertosh commented on #111
The screenshots are out of date. I haven't gotten around to updating them. https://github.com/babel/babel-sublime/issues/97 explains why the periods appear colored.

[2015-05-06 08:34] marcselman commented on #110
I'm sorry. Apparently my Babel package was not working properly. Reinstalling latest version fixed it. Thanks.

[2015-05-06 08:34] #110 closed

[2015-05-14 02:49] alexturek opened #112 "Closing a tag with an attribute hangs Sublime Text 2"
Environment:
* Sublime Text 2
* Only Package Control and Babel v6.0.0 installed (via Package Control)
* JSX files are set to always open with syntax Babel -> Javascript

Repro steps (100% for me):

1. Create a new file `foo.jsx`
2. Open it in sublime text
3. Type the following in the file: `<a b='c'><`
4. Type `/`

Sublime Text (all windows) completely hangs indefinitely and must be `kill`ed.

Can

[2015-05-14 03:16] zertosh commented on #112
Weird, first time I've heard of this. What OS and Sublime build?

[2015-05-14 04:06] alexturek commented on #112
Sublime text: Version 2.0.2, Build 2221
OSX Version: 10.10.3 (14D136)

[2015-05-14 04:07] alexturek commented on #112
Any way I can get more information for anyone?

[2015-05-14 04:08] zertosh commented on #112
Actually, before I install that version... have you tried Sublime Text 3?

[2015-05-14 04:10] alexturek commented on #112
I'll give it a shot and report back. I actually thought I remembered some issue w/ ST3 + Babel, maybe that's really old information or something

[2015-05-14 04:11] zertosh commented on #112
The only "issue" is with Sublime's initial indexing - it can be kinda heavy on low-end machines. https://github.com/babel/babel-sublime/issues/108

[2015-05-14 04:16] alexturek commented on #112
I'm using a brand new Macbook Pro, so I don't think that qualifies as low end :)

I can't repro this on Sublime Text 3

[2015-05-14 04:19] zertosh commented on #112
Interesting - I'm going to leave it as is then. I'll keep this issue in mind, in case others popup. Thanks for the report!

[2015-05-14 04:19] alexturek commented on #112
Roger

Thanks for maintaining this plugin!

[2015-05-14 04:20] zertosh commented on #112
np!

[2015-05-14 04:20] #112 closed

[2015-05-15 19:34] mathieumg commented on #106
@zertosh  Any news on this? Any way to help you?

[2015-05-15 20:08] zertosh commented on #106
Yeah - I'm working on re-write using [Sublime Text 3's new `sublime-syntax`](https://www.sublimetext.com/docs/3/syntax.html), but I'm swamped right now :(

[2015-05-15 21:00] mathieumg commented on #106
Thanks for the update, and I know that feeling all to well... :sob:

[2015-05-20 12:59] premasagar opened #113 "Support Flow primitives"
I read [elsewhere](https://medium.com/@dan_abramov/lint-like-it-s-2015-6987d44c5b48) that this supports Flow but I didn't read that directly here. In general, Flow annotations work OK, but fails on primitives like `Array<T>` and `Promise<T>`. Lines following a primitive are incorrectly highlighted:

![babel-sublime](https://cloud.githubusercontent.com/assets/116809/7725924/ba122d70-fef6-11e4-8949-

[2015-05-20 13:58] zertosh commented on #113
Working on it. It'll be a Sublime 3 thing only since I'm building it using Sublime's new [sublime-syntax](https://www.sublimetext.com/docs/3/syntax.html) format (it's only possible this way).

[2015-05-20 14:38] premasagar commented on #113
Great. Thanks

[2015-05-21 18:03] chrisleeshanok opened #114 "Sublime crashes when attempting to close tag using JSX dangerouslySetInnerHTML"
I've come across an issue while writing JSX.
In render() I have to set the innerHTML of a node to embed the navbar returned by one of our services. Here's what I'm trying to write:

[code]

When I attempt to close the navbar tag, I get as far as ```</``` before sublime hangs with the beachball of death and I have to force quit.

This only happens when I use dangerouslySetInnerHTML and using the ba

[2015-05-21 19:32] zertosh commented on #114
hey @chrisleeshanok, this seems to be a bug in Sublime Text 2 - it doesn't happen in Sublime Text 3 (see https://github.com/babel/babel-sublime/issues/112). I've been avoiding looking into it since ST3 works - but if there's a compelling case to be made for ST2, then I'll check it out.

[2015-05-21 19:32] zertosh commented on #114
Can you confirm your OS and ST build number?

[2015-05-21 19:51] chrisleeshanok commented on #114
No problem. I'm on OS X 10.10.3 (14D136) with ST Build 2221.

I checked out #112 and it is indeed an issue when adding any kind of attribute. This is extremely strange because this wasn't an issue for me up until this morning when I tried using danagerouslySetInnerHTML. No updates to any software to my knowledge.

Will use Sublime Text 3 for now. Thanks for taking a look.

[2015-05-21 19:53] zertosh commented on #114
Np!

[2015-05-21 19:53] #114 closed

[2015-05-27 16:31] brianfeister opened #117 "Support ES6 Template Strings / Interpolation"
I find this to be horribly unreadable (line 33)...
![image](https://photos-3.dropbox.com/t/2/AAAvD-VcUgnRsQb5geOTqVsnfG0nolUU6mwbSRAPDkSzuw/12/2186431/png/32x32/1/1432749600/0/2/Screenshot%202015-05-27%2012.27.58.png/CL-5hQEgASACIAMgBCAFIAYoASgC/ip892O5_2zrYAtFm7ZOgq_bHUv4ssauTrCemW0HFJIU?size=1280x960&size_mode=2)

any chance of getting syntax highlighting like vim

![image2](https://photos-3.dro

[2015-05-29 15:36] zertosh commented on #117
The images aren't loading. Can you repost them?

[2015-05-29 22:57] samzhao opened #120 "Easy way to inherit stock Javascript syntax autocomplete?"
Hey guys, thanks for creating this package! With the Oceanic theme my editor looks like cotton candies :candy:

I understand that some of the 3rd party snippets might not work with the babel package, but apparently the autocomplete is broken as well... by that I mean when I have some text/string in the file I'm editing, say

[code]
I can laster on just type "super" and sublime suggests me to use `

[2015-05-30 02:48] brianfeister commented on #117
Sure thing. I think Dropbox requires me to use their links rather than linking to the source directly.

Current in babel-sublime: https://www.dropbox.com/s/nlbyo9ql8owi31u/Screenshot%202015-05-27%2012.27.58.png?dl=0
Vim: https://www.dropbox.com/s/ws7tbllp62kf4zw/backtick%20syntax%20highlighting.png?dl=0
Emacs: https://www.dropbox.com/s/6dcasvldet7gs0k/Screenshot%202015-05-27%2012.31.09.png?dl=0

[2015-05-30 03:24] zertosh commented on #117
So that's a theme thing, not a syntax definition issue. The Monokai that comes with babel-sublime isn't very thorough - it's just a quick theme. If you were to put a slightly more complicated expression in the template string, you'd see more color. I recommend that you check out https://github.com/voronianski/oceanic-next-theme, it pairs really well with babel-sublime and it defines more colors fo

[2015-05-30 07:49] brianfeister commented on #117
Ah, sorry for turning this into a teaching session... Switched my Sublime Theme and doing great now... As amazing as that is, I think realizing I can drag-and-drop images into Github comments might be even bigger :+1:  :D  ![level_up](https://cloud.githubusercontent.com/assets/806536/7896177/9d5248e8-0665-11e5-9c6a-ca599bfe05ce.png)

[2015-05-30 07:54] #117 closed

[2015-05-30 11:10] jtward opened #121 "Add a way to tell that top-level JSX elements are JSX for syntax highlighting"
Child elements in JSX match `meta.jsx.children.js`, but there doesn't seem to be a way to tell that the top-level element is JSX when doing syntax highlighting. Adding `meta.jsx...` to the top-level element would make it easy to highlight parent and child elements the same.

[2015-05-30 13:11] zertosh commented on #117
np worries!

[2015-05-30 13:36] zertosh commented on #120
Sublime's default autocomplete works just fine. Maybe because you switched syntax definition it has to "relearn" your symbols, but I use it everyday. If your autocomplete is provided by some package, that might require additional steps.

[2015-05-30 13:39] zertosh commented on #121
Yeah that would be ideal, but unfortunately it's not possible with Sublime's current syntax format. However, Sublime recently added a format ([sublime-syntax](https://www.sublimetext.com/docs/3/syntax.html)), that would make this possible - I'm working on that version.

[2015-05-30 13:39] #113 closed

[2015-05-30 13:40] #111 closed

[2015-05-30 23:58] samzhao commented on #120
OK, you are right. I tested this on another computer, it appears to be some third party packages that's causing the problem. Thanks!

[2015-05-30 23:58] #120 closed

[2015-05-31 06:47] tomaash opened #122 "Sublime completion swamped with React.PropTypes"
When I switch language in Sublime 3 from JavaScript to JavaScript (Babel), I start getting completion suggestions from React.PropTypes before anything else, which is not very helpful. I cannot find where it comes from. It completely spoils the amazing Sublime completing experience. Screenshot attached.

![screen shot 2015-05-31 at 08 43 27](https://cloud.githubusercontent.com/assets/19360/7900935/

[2015-05-31 07:04] tomaash commented on #122
OK, so I temporarily fixed this by installing https://github.com/SublimeCodeIntel/SublimeCodeIntel
The PropTypes completions still lurk down there, but more meaningful alternatives are being suggested first.

[2015-05-31 07:42] tomaash commented on #122
Sorry, my bad. Actually, those are snippets from an old JSX package that I forgot I installed.

[2015-05-31 07:42] #122 closed

[2015-06-04 03:17] netcell opened #124 "Problem using along with Require CommonJS Modules Helper"
I am having problem with using package [Require CommonJS Modules Helper](https://github.com/jfromaniello/sublime-node-require) as listed in an issue https://github.com/jfromaniello/sublime-node-require/issues/16 while using **Javascript (Babel)** syntax. The error in the console is as follow
[code]
I think the problem is with commit https://github.com/babel/babel-sublime/commit/273cc6f07c3bf89efb0

[2015-06-04 03:42] zertosh commented on #124
Yeah, I figured the `scopeName` was going to break stuff. I'm sure a bunch of other things assume that the scope is just `source.js`. I'll revert it now and publish an update.

[2015-06-04 03:44] netcell commented on #124
Thanks a lot :smile:

[2015-06-04 03:44] zertosh commented on #124
Published as v6.2.1. It should get picked up by Package Control within an hour.

[2015-06-04 16:51] FullR opened #125 "JSX Syntax highlighting causing Sublime Text 2 to stop responding"
When I attempt to type or paste this text: `return (<div {...this.props} style={this.getStyle()}></);` into Sublime Text 2 with the Babel syntax highlighting, Sublime stops responding and must be force closed.

[2015-06-04 17:31] zertosh commented on #125
That's an issue with Sublime Text 2. It works fine in Sublime Text 3. See https://github.com/babel/babel-sublime/issues/114

[2015-06-04 17:31] #125 closed

[2015-06-06 03:58] #124 closed

[2015-06-06 03:58] #121 closed

[2015-06-08 20:38] robert-chiniquy commented on #28
I can't find babel-sublime in `Package Control: Install Package` :'/

[2015-06-08 20:45] zertosh commented on #28
@robert-chiniquy It seems that there's a chunk of packages missing - i'd wait a bit to see if the issue clears up

[2015-06-08 20:47] robert-chiniquy commented on #28
Thanks for the heads up

[2015-06-09 11:03] mbektimirov opened #127 "Why object keys are highlighted as strings?"
I think it is much better to highlight object keys as non strings, with black color in this theme. Otherwise it is all green everywhere.

With JSX syntax:
![2015-06-09 16 01 49](https://cloud.githubusercontent.com/assets/918009/8056377/ee94d19a-0ec0-11e5-9bf8-2b175357c10b.png)

With Babel syntax:
![2015-06-09 15 54 14](https://cloud.githubusercontent.com/assets/918009/8056320/72c260a0-0ec0-11e5-82

[2015-06-09 14:00] mbektimirov commented on #127
Also destructive assignment name alias highlights as string too:
![2015-06-09 18 59 00](https://cloud.githubusercontent.com/assets/918009/8059513/d6e8bc96-0ed9-11e5-90b6-c2848f89269b.png)

[2015-06-10 14:14] jevzee opened #129 "Update README.md – nvm with babel-transform"
Add a special paragraph for nvm users (or any other node version managers) to update the default path to lookup babel in `babel.sublime-settings`.

from this:

[code]

to something like this:

[code]

Or better yet, check if babel is available globally in `babel-transform.js`.

[2015-06-10 14:17] jevzee commented on #129
I could submit an update for a `findBabel` function in `babel-transform.js` if you think it's worth adding this feature. Otherwise, I could update README instead.

[2015-06-10 17:27] zertosh commented on #129
Ah, so I'm not documenting it yet because it's a "secret" feature. I'm still testing it. If you'd like to write up docs, I'd really appreciate that.

[2015-06-10 17:31] zertosh commented on #129
FYI: I'm still trying to figure out how to make the startup faster. Right now, it starts up a new node process every time you run "Babel Transform". I'd like to keep an instance around for a few min to reduce the load times, but my python is pretty bad :(

[2015-06-10 20:29] jevzee commented on #129
Docs: what do you think?

[2015-06-10 20:30] jevzee opened #131 "speed up babel-transform"
references #129:

Original commit: ["Babel Transform" command](https://github.com/babel/babel-sublime/pull/126)

[2015-06-10 20:30] jevzee commented on #131
Cool, that's a great idea about speeding up `babel-transform`. What do you think about spawning a background node server on the first call of `babel-transform`? This server will babelify all incoming requests? It could have a limited lifetime. Consequent `babel-transform` calls will use the background server if it exists or spawn a new one if it isn't available.

[2015-06-10 20:32] jevzee commented on #129
I've created a separate issue to discuss `babel-transform` optimizations. IMHO, it's out of this ticket's scope.

[2015-06-11 02:27] zertosh commented on #131
I was thinking about the server approach, but I don't want to trigger any firewall warnings or look suspicious if someone is looking at the network activity. Though maybe this option could be enabled via a flag?

I was hoping that you'd spin up the process, pipe in a JSON encoded string like `{ "source": "", "opts": { ... }` that's new-line terminated, and you'd get back another JSON stream that's

[2015-06-11 02:28] zertosh commented on #129
Thanks! Moving the discussion to the respective issues.

[2015-06-11 02:28] #129 closed

[2015-06-11 07:24] jevzee commented on #131
I'll give it a try

[2015-06-12 23:55] zertosh commented on #127
Unquoted keys are captured as [`string.unquoted.label.js`](https://github.com/babel/babel-sublime/blob/540199b/JavaScript%20(Babel).YAML-tmLanguage#L915). And quoted keys are captured as [`string.quoted.single.js`](https://github.com/babel/babel-sublime/blob/540199b/JavaScript%20(Babel).YAML-tmLanguage#L389) and [`string.quoted.double.js`](https://github.com/babel/babel-sublime/blob/540199b/JavaSc

[2015-06-16 02:55] xinchaobeta opened #132 "'flow polymorphic type' did not work well"
#### This code's color  is ok:
![enter image description here](http://7xjrj2.com1.z0.glb.clouddn.com/ok.png)
#### But this code's color has bug (when contain `<...>`):
![enter image description here](http://7xjrj2.com1.z0.glb.clouddn.com/bug.png)

[2015-06-16 10:45] zertosh commented on #132
It's a known issue. It's a limitation with Sublime's tmLanguage format. I'm working on re-write using [Sublime Text 3's new `sublime-syntax`](https://www.sublimetext.com/docs/3/syntax.html), hopefully I'll have something soon.

[2015-06-17 12:59] timbur opened #133 "Matching workspace color scheme"
I'm not sure if this is specific to Sublime on Ubuntu, but the workspace is black on white, while the editor itself is of course the preferable white on black.  It would be much easier on the eyes for the workspace to match.  I assumed this was just a limitation of Sublime, but I saw the "material design" theme for Sublime yesterday on HN and the workspace theme matched the text area.

I looked in

[2015-06-18 13:31] vferko commented on #28
The Babel still can't be installed through Package Control. Any news or a workaround?

[2015-06-18 14:04] zertosh commented on #28
@vferko The latest issue mentioned with package control was promptly fixed https://github.com/wbond/package_control/issues/955. If you're still having problems, please open a new issue.

[2015-06-19 11:12] hawkrives commented on #133
Sublime supports two types of themes: color schemes, which only affect the editor, and … themes, I suppose, which only affect the workspace.

See the [color scheme](https://packagecontrol.io/browse/labels/color%20scheme) and [theme](https://packagecontrol.io/browse/labels/theme) tags on the [Package Control website](https://packagecontrol.io) for some examples of both.

[2015-06-19 16:36] timbur commented on #133
Ah, I see.  Makes sense.  Any recommendations for a theme that matches `babel-sublime` the closest?

[2015-06-19 16:48] timbur commented on #133
Actually, never mind my last comment.  Gonna go with the `SoDaReloaded` theme and the see if I can darken the background a bit.  Thanks for the help!

[2015-06-19 16:48] #133 closed

[2015-06-20 03:27] cadebward opened #134 "Flow Array<> Types"
Hi there! I love the syntax highlighting you guys have made. Its super awesome! Just wondering if there is a way around Flow Array types. When I type Array's, everything after is treated as `HTML`:

![screen shot 2015-06-19 at 9 20 49 pm](https://cloud.githubusercontent.com/assets/3212589/8265843/7cf031f4-16c9-11e5-8f85-8120d75e3bd2.png)

When I close it like it was `HTML`, it returns to normal:
!

[2015-06-20 11:40] zertosh commented on #134
It's a known issue - I'm working on it. https://github.com/babel/babel-sublime/issues/132#issuecomment-112383225. With the current sublime regex matching it's impossible to distinguish between JSX and the Flow types you're using.

[2015-06-20 11:40] #134 closed

[2015-06-20 11:40] #127 closed

[2015-06-20 11:40] #132 closed

[2015-06-20 20:27] cpsubrian commented on #112
Just want to report that I have the exact same issue with Sublime Text 2 and Babel (via Package Control). Also have a Macbook Pro. Same reproduction steps.

Will try ST3 in the meantime. Let me know if other details would be helpful.

[2015-06-20 20:34] zertosh commented on #112
@cpsubrian I've gotten other reports and it's confirmed that it happens in ST2. Since ST3 works, I have no intention of trying to find a workaround. However, if anyone can figure out why it happens and submits a fix, I'd be more than happy to merge it :)

[2015-06-20 21:13] cpsubrian commented on #112
Yep no worries @zertosh. Just wanted to make sure the info got here. I've pretty much already migrated to ST3 (~20 mins) and just need to charge the $70 to my employer :)

[2015-06-20 21:18] zertosh commented on #112
@cpsubrian heheh totally worth it :smile:

[2015-06-22 19:17] montemishkin opened #136 "class methods not properly syntax highlighted when method arguments span > 1 line"
Here is some code to reproduce the issue:

[code]

Here is an image showing the issue in action:

![screen shot 2015-06-22 at 12 14 56 pm](https://cloud.githubusercontent.com/assets/12076775/8290505/5cf49df2-18d8-11e5-9daf-3be5e3371a72.png)

I am using Sublime Text 2 (Version 2.0.2, Build 2221).

[2015-06-23 02:01] zertosh commented on #136
Unfortunately that's a known limitation of SL - you have to have the entire method on the same line. I'm working on version (https://github.com/babel/babel-sublime/pull/135) that hopefully fixes this and other issues, but it'll only work in the latest SL3 dev build. If you use SL3 dev, then it'll automatically use the new syntax definition. As of right now, the new syntax has feature parity is the

[2015-06-23 02:04] mathieumg commented on #136
I was wondering, I saw the PR pass by this weekend and the 7.0 release this morning, today I updated the package in my ST3 dev build wondering if something was supposed to have changed! Good to know, thanks for updating this, I'll keep following closely. :+1:

[2015-06-23 02:11] zertosh commented on #136
I bumped it to 7.0 because SL3 automatically uses the new syntax if it's available. So everyone that's on SL3 is using the new syntax right now without even knowing it hehe. The feature parity thing is a bit of a -lie. The new syntax is actually much faster - when parsing large files things run smoothly, and it also supports comments in places that weren't getting matched before (I won't say where

[2015-06-23 10:19] binarykitchen opened #137 "Toggle comment command broken for CJSX syntax"
Hitting `"ctrl+shift+/"` in React-based, Coffeescript driven template code produces an invalid comment.

This is bad:

[code]

should be like this

[code]

according to https://github.com/jsdf/coffee-react/issues/13

[2015-06-23 10:19] binarykitchen commented on #137
Initially (and wrongly) reported at https://github.com/SublimeTextIssues/Core/issues/904

[2015-06-23 11:05] zertosh commented on #137
Wrong repo. We don't support CJSX.

[2015-06-23 22:30] binarykitchen commented on #137
Thanks. Hmmm, maybe it is https://github.com/aponxi/sublime-better-coffeescript/issues/218 ...

[2015-06-23 22:30] #137 closed

[2015-06-24 17:48] sparty02 opened #138 "feat: Syntax Highlighting for HTML Template Strings"
Given  HTML content in an ES6 template string, e.g.:
[code]

....syntax highlight the HTML as if it was stand-alone in a .html file.

[2015-06-24 19:18] sparty02 commented on #138
Interestingly, by accident, I found out that it syntax highlights correctly with a single quote ```'```, but not with the template literal backtick `` ` ``.

i.e., the following syntax highlights as it would if this markup was in a standalone .html file.
[code]

[2015-06-24 19:23] zertosh commented on #138
There is also no way to _know_ that the contents of a template string is html. I made a custom version of the syntax that matched css in a template string when called with `__CSS`:

[code]

but sublime kept crashing, so I stopped using it.

what you're seeing is plain ol' JSX matching. single quotes are only matched for one line. so the first line is a string start, the 2nd is JSX, and the 3rd is

[2015-06-24 19:31] sparty02 commented on #138
Agreed.  However, thinking out loud (with the caveat that I am naive on the internals of babel-sublime), would it make sense to "evaluate" the contents of a template literal, maybe running it through the JSX matching, and highlighting it as such if the JSX matcher didn't choke on it?

[2015-06-24 19:38] zertosh commented on #138
Since you can interpolate expressions in template strings, it wouldn't make sense to try to detect the contents as any particular type of source. Besides, you're opening a can of worms when you start matching some strings but not others. Check the issues, people get really emotional about their colors :stuck_out_tongue:

[2015-06-24 19:39] sparty02 commented on #138
Thanks for humoring me...   :wink:

[2015-06-24 19:45] zertosh commented on #138
It's not crazy hehe - I tried it myself with css. If it didn't crash ST3, I would've published instructions on how to make your own version that matched whatever function call with a template string as css/html.

[2015-06-24 19:45] #138 closed

[2015-06-24 19:45] #136 closed

[2015-06-25 02:17] shupeipei opened #139 "open files with wrong syntax"
![a7a6788a-3154-46a2-83e4-b28afa14447c](https://cloud.githubusercontent.com/assets/12183336/8345559/5c2f63d2-1b23-11e5-9fa8-374e473d6ab0.png)

The first JavaScript(Babel) is correct
When i open a file, I set the syntax with the first JavaScript(Babel), then i close my sublime text, when i open my sublime text again, the syntax was changed to the second JavaScript(Babel), and sublime text alert a e

[2015-06-25 14:51] zertosh commented on #139
Can you try removing babel-sublime and re-installing babel-sublime? If that doesn't work can you share an entire file that causes this? And your sublime version and list of installed plugins.

[2015-06-25 15:04] shupeipei commented on #139
@zertosh
You can close this issue now.
I upgraded my sublime text to build 3092, and cleaned the 'Sublime Text 3' folder in Application Support, then i re-installed babel-sublime, every thing was normal.
thanks :)

[2015-06-25 15:14] zertosh commented on #139
cool!

[2015-06-25 15:14] #139 closed

[2015-06-25 15:55] mathieumg commented on #139
@zertosh Seeing as we're all on the dev build, do you have any way to validate it works properly on 3083?

[2015-06-25 17:56] zertosh commented on #139
@mathieumg no idea how. you do have the ability to define units tests now, but as far as testing particular builds, we're out of luck. One of the reasons I went with a 1-to-1 port first is to be able to pull it out if things break w/o disrupting existing workflows. As the old and new syntax diverge, if there's a showstopper bug, then I'll just call the new syntax "JavaScript (Babel) 2" until thing

[2015-06-29 09:31] joakim commented on #129
A quick tip… Rather than referencing a specific node/io.js version's `node_modules`, one can set up nvm to create a `current` symlink referencing the active version:

In `~/.bash_profile`, `~/.zshrc` or `~/.profile`:

    export NVM_SYMLINK_CURRENT=true

In `Babel.sublime-settings`:

    {
      "node_modules": {
        "osx": "~/.nvm/current/lib/node_modules"
      }
    }

Documented at the bot

[2015-07-05 22:54] cesarandreu opened #141 "Bad flow highlighting"
I was looking through react-native's source, and I found that [ReactNativeMount.js](https://github.com/facebook/react-native/blob/11b515b1b0c25eec3e02f840373fc94c2f6b34b2/Libraries/ReactNative/ReactNativeMount.js#L229-L232) was not being highlighted properly, and that in fact it was breaking highlighting for any code that follows.

Here's a reduced example:

[code]

Here's what ReactNativeMount.js

[2015-07-06 01:03] cesarandreu commented on #141
Playing around with flow a bit, I also found another inconsistency.

Code snippet:

[code]

Screenshot:

![screenshot of bad flow highlighting](http://i.imgur.com/fPTgSeM.png)

When you use the new object function shorthand from ES6, it'll show the function name white with orange arguments. However, if you set a return type, it'll change the function name to green and arguments to white. Using the

[2015-07-06 02:54] zertosh commented on #141
This is a known issue. I'm working on it.

[2015-07-07 10:34] antialiasis opened #142 "Text inside JSX tags is highlighted as Javascript and apostrophes break it"
Babel appears to highlight the contents of JSX tags as Javascript, when it seems to me they ought to be highlighted as text (that possibly contains other JSX tags and/or Javascript expressions surrounded by braces). This means, for instance, that Javascript keywords like "for" and "with" are nonsensically highlighted in the middle of a paragraph. More importantly, writing any text with an apostrop

[2015-07-07 11:04] zertosh commented on #142
That was fixed a long time ago by https://github.com/babel/babel-sublime/pull/102. Make sure you're using an update version of babel-sublime.

[2015-07-07 11:33] antialiasis commented on #142
Huh, my Package Control said I had 7.0.0 and there are no upgrades available, but I uninstalled it and reinstalled it and it seems to be working now. No idea what that was about. Sorry for the bother!

[2015-07-07 11:38] zertosh commented on #142
no worries

[2015-07-07 11:38] #142 closed

[2015-07-08 22:41] loganfuller commented on #114
Is Sublime Text 2 support being dropped for this package? I'm also running into this issue, which makes it unusable for writing JSX.

[2015-07-09 00:17] zertosh commented on #114
Sorry @loganfuller, no support for ST2 – the package works great under ST3!

[2015-07-13 03:46] zertosh commented on #106
I just published v7.1.0, it should be on Package Control soon. It fixes this and ton of other issues.

![es7-props-fixed](https://cloud.githubusercontent.com/assets/830952/8642314/223822ec-28f0-11e5-9a16-a8ccbd97b147.png)

[2015-07-13 03:46] #106 closed

[2015-07-13 03:48] dozoisch commented on #106
@zertosh Awesome! Look forward to use it!

[2015-07-13 03:48] zertosh commented on #141
@cesarandreu Can you do me a favor and put in a gist the most exotic mixture of flow and jsx that you've got? It would be a huge help. Thanks!

[2015-07-13 08:33] simonsmith opened #144 "Function and method names no longer highlighted"
I've updated to the latest version and seem to have lost function and method name highlighting:

Dev:
<img width="569" alt="screen shot 2015-07-13 at 09 32 47" src="https://cloud.githubusercontent.com/assets/360703/8645759/1677eeb8-2942-11e5-8170-77bf67971c4c.png">

Beta:

<img width="566" alt="screen shot 2015-07-13 at 09 57 30" src="https://cloud.githubusercontent.com/assets/360703/8646180/7f989

[2015-07-13 08:38] simonsmith commented on #144
Reinstalling the theme seemed to fix it

[2015-07-13 08:51] simonsmith commented on #144
Sorry, seems the issue is there in the dev builds of Sublime. Fine if I use the beta. If anyone else can replicate that would be great

[2015-07-13 09:58] simonvizzini commented on #144
The highlighting of function and method calls was actually reported as a bug at sublimehq: https://github.com/sublimehq/Packages/issues/63

This is the sublime fix for this issue: https://github.com/sublimehq/Packages/commit/2a81219d66df8af4ec7b2d6a56ec4a0a3bf93aff

And it seems Babel has adapted this fix: https://github.com/babel/babel-sublime/commit/9ee07f2eaf262b88f3534587cbe0de9f2596a67c

So a

[2015-07-13 10:09] simonsmith commented on #144
Interesting. I guess this can be added back manually into whatever `.tmTheme` we happen to use?

[2015-07-13 11:17] simonvizzini commented on #144
Yes I think so. From what I understand Sublime has adapted the Babel syntax file as a default for JS files. So one solution would be to fork the syntax file and revert the changes. But that's something I'd like to avoid...

[2015-07-13 11:29] simonvizzini commented on #144
By the way, this comparison screenshot is not correct anymore with the recent changes: https://raw.githubusercontent.com/babel/babel-sublime/45c7d37/screenshots/compare-react-class@2x.png

Inside the 'submit' function, the methods 'post', 'send' and 'end' of the 'request' object as well as 'this.setState' are not highlighted anymore, they now look like on the right screenshot.

So I wonder if it w

[2015-07-13 11:49] zertosh commented on #144
Yup, the rationale in https://github.com/sublimehq/Packages/issues/63 made sense so I decided to rename the scopes. I personally like my function calls to have a color, but I don't think any theme colors them. However, that's an easy tweak you can make. For example, this is my personal theme and relevant [change](https://github.com/zertosh/dracula-theme/commit/6dc31f9a40d9b8327dec046f5fa2d060094d0

[2015-07-13 11:50] zertosh commented on #144
Yeah, I won't be fixing those until I'm done with flow support. It takes forever to make perfect screenshots.

[2015-07-13 12:31] simonvizzini commented on #144
Ah, I see! I obviously have no clue about syntax files and themes :-) So thanks for the clarification!

What about the "Monokai Phoenix" color scheme that ships with Babel? Any plans to change it so it will highlight function calls again with the recent syntax file changes? In the meantime I will try to tweak the color scheme myself, doesn't look too hard.

[2015-07-13 14:43] zertosh commented on #144
@simonvizzini No problem. I'm actually planning on deprecating "Monokai Phoenix" - it's in the latest [announcement](https://github.com/babel/babel-sublime/blob/master/messages/7.1.0.txt). I've made some changes like https://github.com/babel/babel-sublime/commit/7f0b796ff4d281de892a3e9e39581a30e93d53a0 so that the stock Monokai looks more like Monokai Phoenix.

Once flow support is fully done, I'l

[2015-07-14 04:20] dozoisch commented on #144
@zertosh oh that theme looks good!

[2015-07-14 12:37] rpominov commented on #112
Same here. Maybe worth reopening at least?

[2015-07-14 12:41] zertosh commented on #112
Sorry @rpominov, but I have no intensions of supporting ST2. I'm also going to be deprecating old ST3 versions soon (see https://github.com/babel/babel-sublime/blob/master/messages/7.1.0.txt).

[2015-07-14 12:44] rpominov commented on #112
Okay, seems like a lot of people migrated to ST3 because of this, which is a good thing I guess :smile:
I'll follow as well.

[2015-07-15 00:15] bathos opened #145 "Sublime syntax -- identifiers (& more?)"
I saw the update today re: the new sublime syntax. A while ago you sent me down this path and I turned out Ecmascript Sublime. It's pretty different from Babel Sublime because I wanted to scope punctuation semantically, so the "logic" of E-Sublime is probably not useful to you much / at all (the cost of grammatical precision is sensitivity to semantic errors, which I believe B-Sublime would prefer

[2015-07-15 22:42] zertosh commented on #145
Awesome, yes, PRs welcome :smile:

E-Sublime and babel-sublime have different ideas and different user bases. You're correct in that babel-sublime isn't going for perfect scope punctuation. What I'm aiming for is to provide just enough scope information so significant js tokens are "themed sanely" by standard themes. All while supporting JSX, Flow and other babel supported syntax (ES7).

[2015-07-16 00:41] bathos commented on #145
Cool. Yeah, I'm not thinking in terms of adding scopes, just increasing accuracy of what's already present, like correctly disambiguating the ternary colon more often. If I can cook up any non-brittle solutions that don't require a ton of added complexity I'll send them your way.

[2015-07-16 07:42] simonsmith commented on #144
So just to clarify, if I want to bring method highlighting back to the dev version of Sublime I need to make some updates to the theme I am currently using. Any tips on what part I would need to edit?

I'm currently using Afterglow Monokai

Thanks

[2015-07-16 11:15] zertosh commented on #144
@simonsmith You'd need a scope like [this](https://github.com/zertosh/dracula-theme/blob/6dc31f9a40d9b8327dec046f5fa2d060094d0639/Dracula.tmTheme#L411-L423)

[2015-07-16 15:06] felipehummel commented on #59
Anyone manage to make this work?

[2015-07-16 23:37] ryancole opened #146 "What handles how code folding works - is that handled by the theme?"
I've got two questions relating to code folding ...

1. What determines what code syntax part gets a folding triangle in the gutter? Is this determined by the theme, or is this hard coded into Sublime Text itself?

2. What determines how folding functions? When using code folding in JavaScript, it doesn't bring/fold up the closing curly bracket. This is kind a deal breaker for folding because it's

[2015-07-17 17:32] zertosh commented on #145
Thanks, I'd really appreciate it! I can def see people wanting/needing super precise scopes.

[2015-07-18 00:30] rguerrettaz opened #147 "No .cjsx syntax highlighting"
As I remember [sublime-react](https://github.com/reactjs/sublime-react) had support for cjsx syntax highlighting. However, babel-sublime appears to take a crap, which is quite frustrating, especially when `cmd` + `/` doesn't properly comment out the target.

![screen shot 2015-07-17 at 5 28 52 pm](https://cloud.githubusercontent.com/assets/1142155/8759482/678fd5da-2ca9-11e5-8905-fe9ecaa074d9.png)

[2015-07-18 00:49] zertosh commented on #59
@felipehummel I just publish v7.2.0 with https://github.com/babel/babel-sublime/commit/abd5c13c3bdf7042d2c7a810765357f165232475. I think it fixes "Goto Definition" - it seems like it works, but I have no idea how it's supposed to work. Can you let me know if it fixes it?

[2015-07-18 01:05] zertosh commented on #146
AFAIK it's handled by Sublime based on indentation. There's a script in the Default package called `fold.py` that gets called when you fold/unfold.

[2015-07-18 01:05] #144 closed

[2015-07-18 01:07] zertosh commented on #147
babel-sublime doesn't support cjsx - nor does it intend to. Other packages now support it though - I think https://github.com/Guidebook/sublime-cjsx is what others are using.

[2015-07-18 01:07] #147 closed

[2015-07-18 01:28] rguerrettaz commented on #147
Thank you, greatly, for the resource and rapid response.

[2015-07-19 01:02] cesarandreu commented on #141
Sorry for the slow reply, unfortunately I still don't have much flow in my code (partly because syntax highlighting breaks). :(

I can add broken / inconsistent highlighting examples as I encounter em, though. Would a gist be better or should I add em here?

Maybe someone from Facebook has a beefy file with lots of examples? I'm not sure who would be a good person to ping for this...

The followin

[2015-07-19 12:53] zertosh commented on #141
The [graphql-js](https://github.com/graphql/graphql-js) code is heavily annotated. I'm using that. Thanks though!

[2015-07-19 12:58] zertosh commented on #59
It seems to be working for me. So I'm going to close this. Please open a new issue if you're still having problems.

[2015-07-20 15:30] felipehummel commented on #59
The ES6 functions are now working with Go-to definition! :+1:
But I just realized that variables (`const`, `let` and `var`) are not considered symbols, so you can't go-to a definition of a variable, actually you can't also Go-to them (using Go-to Symbol feature).

Just to clarify why Go-to definition is very nice:
The go-to definition is a common feature of more robust IDEs. Sublime managed to inc

[2015-07-21 09:18] cesar2535 commented on #129
I get a problem when execute the babel transform command.
And then show me a error for it:
[code]
I just installed the node v0.12.4 with nvm and set the user config, but didn't resolve it.
[code]

[2015-07-21 10:53] joakim commented on #129
Apparently `node` isn't in your `$PATH` environment variable. What did `node -v` tell you?

[2015-07-21 14:14] cesar2535 opened #148 "Couldn't find Node.js."
I have installed node v0.12.4 with nvm, and set the config for the plugin.
But I get a error when execute the `Babel Transform`:
[code]
by following suggestion I get:
[code]
I don't know what problem it is.

[2015-07-21 14:19] cesar2535 commented on #129
@joakim Thank for you reply. I open a issue #148
I follow the suggestion and still it doesn't work

[2015-07-21 15:05] zertosh commented on #148
I can't answer this in detail now - I'm not a computer. But can you try the same thing from #129 but with an absolute path to node? Not with a ~

[2015-07-22 19:19] mathieumg commented on #141
I don't see any `async` class methods in their codebase, so just for good measure:

![image](https://cloud.githubusercontent.com/assets/1624812/8834858/e3b95f26-3084-11e5-9bc2-f9778cbea0a5.png)
![image](https://cloud.githubusercontent.com/assets/1624812/8834861/e8849cdc-3084-11e5-9a79-42e557f08467.png)

On 7.2.0. Excuse the shadiness, my screenshooting tool has some issues...

[2015-07-23 20:48] programmarchy opened #149 "Crash when adding className to div"
When I type:

[code]

Sublime Text 2 freezes after I type the last `<`.

Workaround is to type: `<div></div>` then edit in the className: `<div className="..."></div>`

Here's some context of the file I'm editing:

[code]

I'm using version 7.2.0.

[2015-07-24 02:29] zertosh commented on #149
yup, ST2 isn't supported - sorry. babel-sublime works great in ST3 though.

[2015-07-24 05:39] soulcm opened #150 "the sublime goto_definition bug"
when press F12 to goto the function's definition, it listed the defined function and call's, but the function's call should not list when press F12. Like I want to find below someMethod where defined, I press F12 on this.someMethod, the defiend place and the call place both show in the list, I think this is a bug?

[code]

[2015-07-24 14:03] #149 closed

[2015-07-24 14:04] #146 closed

[2015-07-24 14:06] zertosh commented on #59
Thanks @felipehummel, I've re-opened the issue so I can take a closer look.

[2015-07-24 14:08] zertosh commented on #150
Yeah @soulcm, I'm afraid it's because I don't use "goto definition" so I didn't really know how it was supposed to work, but I'm fixing it. It's actually being tracked in https://github.com/babel/babel-sublime/issues/59

[2015-07-24 14:08] #150 closed

[2015-07-24 14:14] zertosh commented on #141
@mathieumg ah yeah, I forgot about async. I'd be super helpful if you could share some complicated source. It doesn't have to work, it just has to be valid syntax.

[2015-07-24 14:40] soulcm commented on #150
OK,Thanks.

[2015-07-24 15:55] robmclarty opened #151 "Multiline ternary expression syntax highlighting vars as object properties"
When writing a ternary expression across multiple lines, the first operand, written in this notation, is highlighted as if it were a property of an object literal which is every so slightly misleading when glancing at such code.

Example:

[code]

It looks like the highlighter thinks this snippet is an object literal like this:

[code]

It could be argued that it's clearer to write the multi-line

[2015-07-24 19:52] programmarchy commented on #149
Thanks. Have been meaning to upgrade anyway :wink:

[2015-07-24 21:52] tengyifei commented on #141
Return type breaks highlighting:
[code]
![1](https://cloud.githubusercontent.com/assets/2877531/8885240/a4cef412-3212-11e5-8202-9eaf58911475.png)

Coupled with array type in argument list, they break almost everything:
[code]
![2](https://cloud.githubusercontent.com/assets/2877531/8885340/7da2b8b4-3213-11e5-80df-8ec4b841685d.png)

Hope these helps.

[2015-07-25 16:17] zertosh commented on #151
This is a known issue that I'm hoping will go away with the rewrite I'm doing to support flow types. The bug you're seeing is because it's really hard to differentiate between an object property, a label, a switch case, and a ternary. These all have a `:` and you have to somehow match those cases with regex – not an easy task. Sublime recently introduced a new way to define syntax definitions that

[2015-07-25 16:17] #151 closed

[2015-07-25 20:02] robmclarty commented on #151
Cool. Thanks for reply :)

[2015-07-31 07:24] snadn opened #152 "wrong highlight in script tag of html"
in \<script\> is right
![image](https://cloud.githubusercontent.com/assets/1269858/9002467/1f2525ea-3797-11e5-9aac-ee6e4f7e392c.png)

in \<script type="text/javascript"> is wrong
![image](https://cloud.githubusercontent.com/assets/1269858/9002479/3701112e-3797-11e5-8e78-d1f81ae9177a.png)

and expect not work in \<script type="text/tmpl"> but now the highlight is
![image](https://cloud.githubuserco

[2015-07-31 12:44] zertosh commented on #152
That's not babel-sublime causing that. If your syntax is set to "HTML", then it's that syntax that decides what other syntax should match some other embedded content. Seems like a ST3 bug.

[2015-07-31 18:00] mathieumg commented on #141
@zertosh Sorry for the delay, will try to get around dgoing that ASAP. Do you only want those involving Flow syntax or anything is good?

[2015-07-31 18:01] zertosh commented on #141
@mathieumg I think I'm good. I'm actually starting at Facebook in 3 weeks, so I'm sure I'll have all the sample source I need :smile:

[2015-07-31 18:04] zertosh commented on #141
@mathieumg And hopefully that also means I'll have more time to dedicate to getting the highlighting and tooling around Sublime in tiptop shape.

[2015-07-31 18:06] mathieumg commented on #141
@zertosh Congrats! :tada: Awesome news, thanks again for the great work! :beers: I'm implicated in OSS left and right myself and I wish I had more time to contribute!

[2015-07-31 22:55] cesarandreu commented on #141
@zertosh congrats! \o/

[2015-08-01 12:26] zertosh commented on #141
Thanks! :smile:

[2015-08-01 13:14] snadn commented on #152
Is it like this? Why everything is ok when babel-sublime is disabled? May be it is a ST3 bug. Thanks!

[2015-08-02 02:03] shipengyan opened #153 "bug with HTMLPrettify plugin in sublime"
![Uploading 1.png…]()
![Uploading image.png…]()

[2015-08-02 02:10] shipengyan commented on #153
this is my HTMLprettify.sublime-setting. I config it ` "format_on_save": true`. when i save one a.js , it become the following. is this a bug?
[code]

[code]

key point:
[code]

[2015-08-02 02:13] shipengyan opened #154 "how can I format this type file?"
i use HTMLPrettify plugin in sublime before, but now ctrl+shift+H can not work?

someone can help me ?

[2015-08-05 00:47] antialiasis opened #155 "JSX text is highlighted as Javascript after a tag with an attribute"
I'm using 7.2.0. Normally text within JSX tags is correctly treated as text and not given any highlighting. However, it seems that this breaks after a JSX tag with an attribute (at least, as far as I can tell that's the rule).

To reproduce, make a file, set its syntax to Javascript (Babel), then paste the following lines into it:

    <p><a href="blah">Something</a> with a link in it that means i

[2015-08-05 03:19] zertosh commented on #152
@snadn I dug a little and I found out that if you disable the builtin javascript packages (via `ignored_packages` in your `Preferences.sublime-settings`), I get what you're describing. Can you check to see if that's what is going on?

[2015-08-05 03:36] zertosh commented on #155
There are limits to ST3's regex matcher (see https://github.com/babel/babel-sublime/pull/102). I'm working on fixing this as part of https://github.com/babel/babel-sublime/issues/141

[2015-08-05 03:36] #155 closed

[2015-08-05 03:38] zertosh commented on #154
`HTMLPrettify` only works on files that have certain extensions. I believe `jsx` is not one of them. You should open an issue there to get it added.

[2015-08-05 03:38] #154 closed

[2015-08-05 03:39] zertosh commented on #153
That's an HTMLprettify issue - not a babel-sublime. I don't think any prettifer supports proper JSX. Sorry.

[2015-08-05 03:39] #153 closed

[2015-08-05 06:25] snadn commented on #152
@zertosh I did not disable the builtin javascript packages. And whether to disable it, the result is the same.
I test in a new env which just install babel and the highlight of https://gist.github.com/snadn/5d34fa6020d85688f373 is also wrong.

[2015-08-05 11:08] zertosh commented on #152
Works for me. I've got ST3 Build 3095 with babel-sublime installed. The file syntax is set to "HTML":

![tlynn](https://cloud.githubusercontent.com/assets/830952/9084350/d096ca84-3b40-11e5-8271-2d0bd79ee230.png)

[2015-08-05 13:26] snadn commented on #152
3095? My ST3 is 3083 in windows.
![image](https://cloud.githubusercontent.com/assets/1269858/9086681/681bc5d6-3bb8-11e5-8357-2b35250ad134.png)

[2015-08-05 14:24] zertosh commented on #152
[ST3 dev](http://www.sublimetext.com/3dev)

![vluqw](https://cloud.githubusercontent.com/assets/830952/9088058/23432bae-3b5c-11e5-8738-a92ef77087b2.png)

[2015-08-05 16:31] snadn commented on #152
sorry i do not have a license for ST3. and do not test in 3095.
if highlight is ok in 3095, I can do is just wait

[2015-08-05 17:40] zertosh commented on #152
It's working for me. Sorry.

[2015-08-05 17:40] #152 closed

[2015-08-05 23:55] shipengyan commented on #153
@zertosh 3ks a lot

[2015-08-06 16:38] OliverJAsh commented on #138
This seems to work when using https://github.com/Benvie/JavaScriptNext.tmLanguage?

[2015-08-08 02:34] zertosh commented on #148
I made some changes in https://github.com/babel/babel-sublime/pull/156 that'll give you a more informative error message. Now you'll know what path is actually used.

[2015-08-08 02:34] #148 closed

[2015-08-08 02:44] zertosh commented on #131
After thinking about this some more, I realized that holding onto the node instance that's running babel is a bad idea. When you run the plugin, it uses the babel version that is reachable by the file you're transforming. I find this useful when you have several projects on different versions of babel and need to see exactly what babel will output. If you start trying to account for that in some s

[2015-08-08 02:44] #131 closed

[2015-08-08 04:13] cesar2535 commented on #148
Thanks @zertosh
I got the reason from it after updated package, and solved it by setting `node` link in `/usr/local/bin` to `~/.nvm/current/bin/node`

[2015-08-09 12:06] zxqfox opened #157 "Problem with string and comments inside"
When using static and put a comment inside — it breaks everything.

![image](https://cloud.githubusercontent.com/assets/677518/9154746/e1c54726-3ea7-11e5-8c66-7a7aeb0556ce.png)

upd: Same with multiline comments:

[code]

[2015-08-09 12:56] zertosh commented on #157
Works for me. Make sure you have "JavaScript (Babel)" selected as the syntax for that file.

![edgfn](https://cloud.githubusercontent.com/assets/830952/9154931/694425d4-3e74-11e5-8c15-a58816b4faa3.png)

[2015-08-09 13:04] zxqfox commented on #157
That's strange. Version 7.3.0, win 7
[code]

![image](https://cloud.githubusercontent.com/assets/677518/9154949/a95d2aae-3eaf-11e5-93e6-50bcbc0b1dc6.png)

What to do with it? ;-)

[2015-08-09 13:48] zertosh commented on #157
Ah check out the [v7.1.0 install message](https://github.com/babel/babel-sublime/blob/master/messages/7.1.0.txt). That's one of the fixes that's only available in the new syntax format. You need build 3084 or higher - which are currently only in [dev channel](http://www.sublimetext.com/3dev).

[2015-08-09 14:13] zxqfox commented on #157
Oh, thanks ;-) Switched to dev channel!

[2015-08-09 14:13] #157 closed

[2015-08-12 20:56] Jakobud opened #159 "Inline JSX?"
How do you use this with Inline JSX?

[code]

It colors all my HTML weird and doesn't really color React stuff very well.

[2015-08-12 20:57] Dashed commented on #159
HTML files aren't supported.

[2015-08-13 02:24] zertosh commented on #159
Sublime's HTML syntax delegates to the stock JavaScript syntax for these cases, so JSX doesn't render properly. Sorry

[2015-08-13 02:24] #159 closed

[2015-08-19 06:20] zertosh commented on #141
I just published v8.0.0 and it drastically improves things. There is only some Flow support (more coming soon), but now Flow annotations don't get matched as JSX. You need to be running a version of ST3 that supports the new syntax format (build 3093 or higher) – as of right now, it's only the dev (not beta) channel that supports it.

[2015-08-19 07:24] cesarandreu commented on #141
Awesome! I'm gonna have to upgrade to try this out.

[2015-08-19 13:51] santiagoaguiar opened #161 "Syntax highlighting for functions in enhanced object literals"
Writing:

[code]

Does not highlight bar as a function.

For example:
![image](https://cloud.githubusercontent.com/assets/963231/9357906/cb51718a-465f-11e5-8788-d3da53fd9c00.png)

First `f2` should also be green.

[2015-08-19 16:24] zertosh commented on #161
Works for me. Can you make sure have the latest babel-sublime and latest ST3?

<img width="168" alt="ohqui" src="https://cloud.githubusercontent.com/assets/830952/9362197/183cf638-4654-11e5-8dab-792cf90201e8.png">

[2015-08-19 16:25] arhcstolen commented on #161
I had the same problem when babel-sublime was updated, but reinstalling solved it.

[2015-08-19 16:50] santiagoaguiar commented on #161
Using 8.0 and ST3 stable 3083 (no available updates). Tried re-installing, but same result.

Seems to be caused by the color scheme configuration. I was using the default color scheme  (Monokai).

Once I selected `Monokai Phoenix` from `Color Scheme / Babel / Monokai Phoenix` I started getting highlight. Can it use one of them by default on install? (coworkers have the same issue after installing

[2015-08-19 17:02] zertosh commented on #161
@santiagoaguiar Take a look at my [notes from 7.1.0](https://github.com/babel/babel-sublime/blob/master/messages/7.1.0.txt). I'm not maintaining the "old" syntax anymore. The "new" one highlights the way you expect with that stock Monokai. Unfortunately, the ST3 beta channel is still at 3083, and it doesn't support the new syntax. If you switch to the [dev channel](http://www.sublimetext.com/3dev)

[2015-08-19 17:37] santiagoaguiar commented on #161
Ok, thanks!! Closing the issue.

[2015-08-19 17:37] #161 closed

[2015-08-19 21:39] hawkrives opened #162 "Bug: v8.0.0 + arrow functions + JSX breaks some highlighting"
<img width="649" alt="screen shot 2015-08-19 at 4 36 50 pm" src="https://cloud.githubusercontent.com/assets/464441/9369692/888c8854-4690-11e5-8be0-3ffb598459f6.png">

[code]

The arrow function in the last `<div>` throws off the syntax highlighting for everything that follows it. It only seems to happen if a JSX element is implicitly returned from the same line as an arrow expression.

Let me know

[2015-08-19 21:40] hawkrives commented on #162
- babel-sublime@8.0.0
- Sublime Text build 3095 (dev channel)
- JavaScript (Babel) syntax

[2015-08-19 22:08] zertosh commented on #162
Thanks for the report! I broke it last night in https://github.com/babel/babel-sublime/pull/160, but it's now fixed by https://github.com/babel/babel-sublime/commit/6ce10a2f0c0fbdf8827e66456118c644ac2c8a61. Just published it as v8.0.1 – it'll be in Package Control in a few minutes.

[2015-08-19 22:08] #162 closed

[2015-08-19 22:10] hawkrives commented on #162
Thanks!

[2015-08-20 04:55] cesarandreu opened #163 "JSX element inside of attribute causes highlighting to break"
Looking at react-bootstrap's [OverlayTriggerSpec](https://raw.githubusercontent.com/react-bootstrap/react-bootstrap/583febb82a7286f23d099288c01c46061e61381e/src/OverlayTrigger.js), I found that if you have a JSX element inside of a JSX element's attribute, it'll break syntax highlighting.

Reduced example:

[code]

Screenshot:

![http://i.imgur.com/bBZZldE.png](http://i.imgur.com/bBZZldE.png)

Ver

[2015-08-20 05:54] zertosh commented on #163
Awesome report! Thanks! Just like https://github.com/babel/babel-sublime/issues/162. I just fixed it https://github.com/babel/babel-sublime/commit/e7b41c90b09288a8838d0de8a52b0a4c09b5c46d and published it as v8.0.2 – sorry about that.

[2015-08-20 05:54] #163 closed

[2015-08-20 07:54] cesarandreu commented on #163
Oh wow, that was super fast, thanks for the speedy fix!

[2015-08-25 16:06] syranide opened #164 "Incorrect syntax highlighting"
![image](https://cloud.githubusercontent.com/assets/1714255/9472100/868d6628-4b53-11e5-829c-45db56f5d50e.png)

[code]

It only seems to happen when `/ b` is put in block where there is a non-self closing tag somewhere before it that also has an attribute.

[2015-08-26 02:58] zertosh commented on #164
If you use the latest [ST3 dev build](http://www.sublimetext.com/3dev) (not beta), that issue shouldn't happen. I go into more detail in the release notes for [7.1.0](https://github.com/babel/babel-sublime/blob/master/messages/7.1.0.txt) as to why. Can you confirm your ST3 build number and babel-sublime version?

<img width="194" alt="dxthl" src="https://cloud.githubusercontent.com/assets/830952/9

[2015-08-26 06:53] jeremejevs opened #165 "Class method with multi-line parameter list not highlighted as function"
![](http://i.imgur.com/jPtrYuu.png)
![](http://i.imgur.com/0R7M72M.png)

[2015-08-26 07:21] syranide commented on #164
Yeah I'm on beta and no biggie anyway :+1:

[2015-08-26 07:21] #164 closed

[2015-08-26 16:32] hawkrives opened #166 "JSX inside array throws highlighting into disarray"
Sublime 3 (Dev), build 3095
Babel (Sublime) v8.0.3

Having a JSX element inside of an array throws off the highlighting of everything until the next closing tag.

[code]

<img width="844" alt="screen shot 2015-08-26 at 11 30 04 am" src="https://cloud.githubusercontent.com/assets/464441/9499616/f6cea9dc-4be5-11e5-9491-78612b04e388.png">

---

As always, thanks so much for working on this!

[2015-08-26 20:01] zertosh commented on #165
That's a known issue and doesn't really have a good solution. If it does get fixed, it'll be fixed as part of https://github.com/babel/babel-sublime/issues/141

[2015-08-26 20:01] #165 closed

[2015-08-26 20:05] zertosh commented on #166
Ah yeah, that's broken :/ The fix should be to add `\[` like in e7b41c9. I'm not on my personal computer now so I can't really push the fix for like another 8 hrs. Sorry :(

[2015-08-26 20:12] hawkrives commented on #166
Would you like a pull request?

[2015-08-26 20:19] zertosh commented on #166
Sure, but I still won't be able to publish it to Package Control

[2015-08-26 20:24] hawkrives commented on #166
:white_check_mark:

[2015-08-27 00:41] davis commented on #132
has this been fixed?

[2015-08-27 04:37] cesarandreu commented on #141
Another issue I've found is inconsistent object property type highlighting when using optional properties.

Code snippet:

[code]

Screenshot:

<img width="422" alt="inconsistent prop types" src="https://cloud.githubusercontent.com/assets/656870/9512675/8955e4b0-4c53-11e5-8159-28205e53afb2.png">

[2015-08-27 04:50] zertosh commented on #132
@davis Mostly, but you need to be using the dev channel version of ST3 (not the beta). For the details, check out the release notes for [7.1.0](https://github.com/babel/babel-sublime/blob/master/messages/7.1.0.txt).

[2015-08-27 04:54] zertosh commented on #141
@cesarandreu The problem there isn't the optional type, is the type alias. Pretty much all of the forms of type aliases are still broken. The problem is that `type` is a valid js identifier, but it's also used as flow keyword :/

[2015-08-27 05:09] #166 closed

[2015-08-27 05:11] zertosh commented on #166
@hawkrives I cherry-picked the commit so you'd get git credit :smile: Thanks! It's published at v8.0.4 It should be picked up by Package Control in ~30min

[2015-08-27 05:26] davis commented on #132
@zertosh ah. Thanks!

[2015-08-27 07:31] cesarandreu commented on #141
Oh, I see. Would it be feasible to check for `@flow` in a comment block and use that to decide when to apply flow syntax highlighting to these keywords? I just spent a few hours playing around with the syntax definitions but I wasn't able to figure out how to make that work unfortunately.

[2015-08-28 09:32] gajus opened #169 "Variable in a backtick string is not highlighted"
<img width="472" alt="screen shot 2015-08-28 at 10 31 53" src="https://cloud.githubusercontent.com/assets/973543/9543320/065927c0-4d70-11e5-8501-8eb5a0240377.png">

Is there a way to make the variable stand out more? e.g. `action.name` could be white.

[2015-08-28 15:23] zertosh commented on #169
Actually I just fixed that last night in #168. Can you make sure that you're using babel-sublime v8.0.5 and ST3 build 3095?

[2015-08-28 16:11] zertosh commented on #169
And I just made another change so that stock themes color the `${` and `}` (see #170)

[2015-08-28 16:58] gajus commented on #169
I am using v8.0.5, though my ST build it 3083. Where are you getting the 3095 build from?

[2015-08-28 17:00] gajus commented on #169
I see it. http://www.sublimetext.com/3dev Yes, I can confirm that once updated to 3095 syntax highlighting does work.

[2015-08-28 17:00] #169 closed

[2015-08-28 18:31] zertosh commented on #169
Cool. For some background on why this is the case, check out the [7.1.0 release notes](https://github.com/babel/babel-sublime/blob/771aca71887fea5a43385505f5346cfb29c7c97e/messages/7.1.0.txt).

[2015-08-29 00:19] zertosh commented on #141
@cesarandreu That's an interesting idea - I'll keep that in the back of my mind. The big big challenge that's holding back proper flow support, believe it or not, is arrow functions. I haven't been able to come up with a good way to determine if something is an arrow function or not – mostly because you can have default parameters and flow annotations – at the start of the function definition. Get

[2015-08-29 10:36] gajus commented on #169
Upgrading to the 3095 brakes syntax highlighting:

<img width="961" alt="screen shot 2015-08-29 at 11 36 03" src="https://cloud.githubusercontent.com/assets/973543/9561555/2782ae58-4e42-11e5-8182-a476373ddd62.png">

[2015-08-29 15:45] zertosh commented on #169
That's a ST3 bug. It's using the stock JavaScript syntax to highlight the js block, and it thinks that the `</div>` is the start of a regex. The way I've dealt with it, is by turning off the stock JavaScript syntax, so that ST3 then uses babel-sublime. Unfortunately, there is no way to give priority to the different syntaxes used in embeds. For instructions, see [Advanced Usage](https://github.com

[2015-08-31 10:00] floriandotorg opened #171 "Couldn't find babel or babel-core"
Hi,

I'm constantly getting "Couldn't find babel or babel-core" when I try to transform a file.
Babel as well as babel-ore are globally installed.

[2015-09-03 05:01] lorenmh opened #172 "Sublime CPU usage"
I might be the only one experiencing this, but when I installed Babel via Sublime's Package Control, the CPU usage for Sublime shot up to 99% on my Mac OS X 10.10 device.  The CPU usage stayed up in the mid to high 90s.

Removing Babel brought the CPU usage of Sublime back down to a normal 3%.

I have removed and installed Babel via Package Control multiple times to confirm that the CPU usage is c

[2015-09-03 05:07] lorenmh commented on #172
Okay...looks like it was being caused by Sublime Linter in conjunction any JSX syntax, not sure why.  Closing this!

[2015-09-03 05:07] #172 closed

[2015-09-03 16:05] jeremejevs opened #173 "JSX block commenting"
When I `Toggle Block Comment` on an element, e.g. a `<Button />`, I get the following:

![](http://i.hizliresim.com/3alrj0.png)

However, that [isn't valid JSX syntax](https://facebook.github.io/react/docs/jsx-in-depth.html#comments). It should be like this:

![](http://i.hizliresim.com/rVNWZa.png)

Is this possible to achieve? That is have block commenting behave differently, depending on the con

[2015-09-03 20:29] zertosh commented on #173
Oh interesting. I have no idea how that works, but I'll def look into it. Thanks for pointing it out!

[2015-09-03 20:56] hawkrives commented on #173
I know that you can add snippets to the `.sublime-keymap` file, like this chunk from my copy:

[code]

This is a direct copy of the default keymap for auto-pairing single and double quotes, adapted for auto-pairing backticks in JS code.

I'll bet you could do something similar for comments inside of a JSX block.

[2015-09-03 20:57] zertosh commented on #173
I'll look into that too. I think that the replacement regex is something you can add to something like https://github.com/babel/babel-sublime/blob/master/Comments.tmPreferences

[2015-09-03 20:58] hawkrives commented on #173
Is there a scope that's active only inside of a JSX block?

[2015-09-03 20:59] zertosh commented on #173
There used to be, until I removed it in https://github.com/babel/babel-sublime/pull/160. I might have to add it again.

[2015-09-03 21:00] hawkrives commented on #173
Yeah. So, if there was a `source.jsx` scope, then you could just add another block to `Comments.tmPreferences`. That might be a nice way.

[2015-09-04 16:08] sunglee commented on #171
Check you have babel in your /node_modules/ path. If not,

[code]
```sudo``` if you need.

[2015-09-04 18:10] zertosh commented on #171
I haven't added this to the README yet, but this comment should help you understand what babel is actually used https://github.com/babel/babel-sublime/pull/130#issuecomment-110980249

[2015-09-04 18:54] kyleboyle opened #174 "ST3 - Completion stops working when switching syntax"
Text completion stops working for me when I switch from default javascript syntax to the Javascript(Babel) syntax in sublime text 3. By stops working I mean that the completion options that I would expect to be available based on the symbols defined in the file aren't there. Any ideas on how to troubleshoot this?

[2015-09-04 19:14] zertosh commented on #174
Autocomplete symbols are cached per syntax. So by switching, you're starting "fresh". As you use a file, Sublime will build up the autocompletes for it

[2015-09-04 19:21] kyleboyle commented on #174
I see, but shouldn't the symbols that are in the file be available for completion immediately? Right now I'm not getting anything.

[2015-09-04 19:33] zertosh commented on #174
This is auto-complete:

<img width="324" alt="mybvt" src="https://cloud.githubusercontent.com/assets/830952/9692730/093415b4-5300-11e5-9cce-f3503230de86.png">

It's sometimes flaky when you first switch syntaxes. You might want to blow away [Sublime's File Index](http://www.sublimetext.com/blog/articles/file-indexing).

This is "Goto Symbol":

<img width="600" alt="qchbh" src="https://cloud.github

[2015-09-04 19:44] kyleboyle commented on #174
cool, thank you. I blew away my Cache and Index dirs and that made it work.

[2015-09-04 19:44] #174 closed

[2015-09-05 14:35] floriandotorg commented on #171
Hi, sorry, forgot to mention, of course I did install babel.

But I guess this happens because I'm using NVM, so my packages lying under ~/.nvm/versions/v0.12.7/lib/node_modules

[2015-09-08 21:18] benmosher opened #175 "calculated/symbolic methods are not properly tagged"
Forgive me if the title is confusing, I'm not familiar with Sublime/TextMate syntax jargon.

Using symbols (or more generally, calculated fields) in class definitions doesn't highlight the same as explicit members:

![screen shot 2015-09-08 at 5 14 28 pm](https://cloud.githubusercontent.com/assets/3709196/9747679/24eb9e08-564d-11e5-885c-245bef26a935.png)

I would expect purple `get/static` and blu

[2015-09-08 21:36] zertosh commented on #175
This is a known issue - it's part of other issues related to flow, you can track the progress in https://github.com/babel/babel-sublime/issues/141

[2015-09-08 21:36] #175 closed

[2015-09-08 21:41] zertosh commented on #171
@floriandotorg when it comes to looking for a global babel install, it looks in the standard places – so not in the nvm directory. You can specify the `node_modules` path in your [`Babel.sublime-settings`](https://github.com/babel/babel-sublime/blob/771aca71887fea5a43385505f5346cfb29c7c97e/Babel.sublime-settings). I should really document all of this :disappointed:

[2015-09-10 00:30] Calvein opened #176 "Having specific settings just for the JSX"
I don't know if it's possible but it would be great to be able to have a JSX.sublime-settings (or even HTML.sublime-settings) just for the jsx blocks, e.g:
[code]
 Would render something like this:
![image](https://cloud.githubusercontent.com/assets/243189/9777343/92e53824-57a6-11e5-8fec-e097e6c8700a.png)

And so no need for ugly `{' '}`.

[2015-09-10 00:34] Boycce opened #177 "Regex highlighting bugs"
![regex](https://cloud.githubusercontent.com/assets/2629988/9777393/07cd161e-57b8-11e5-8518-4b7f16831cb6.jpg)

`\s` - Displays in a different color.
`[]` - Brackets and characters inside (except for `\t\n\r`) break regex highlighting

[2015-09-10 05:17] zertosh commented on #177
It's working as expected. The `\s` is matched as a [`constant.other.character-class.escape.backslash.regexp`](https://github.com/babel/babel-sublime/blob/771aca71887fea5a43385505f5346cfb29c7c97e/Regular%20Expressions%20(Babel).sublime-syntax#L23-L24) and the `[`/`]` are matched as [`constant.other.character-class.set.regexp`](https://github.com/babel/babel-sublime/blob/771aca71887fea5a43385505f534

[2015-09-10 05:18] zertosh commented on #176
Not possible with Sublime (that I know of) – sorry.

[2015-09-10 05:18] #176 closed

[2015-09-10 07:06] Boycce commented on #177
Perfect, thanks for the help.

[2015-09-10 07:06] #177 closed

[2015-09-14 12:05] ddemolina opened #179 "Go to symbol not showing shorthand methods"
Shows classic methods declarations like method:function(){}
And in the list doesn't appear methods declared by method() {}
Also shows arrowFunctions in the list which seems a little annoying
Thank you

[2015-09-14 12:23] ddemolina commented on #59
When I use go to definition Sublime shows me a list whith the definition but shows all places where the method is used.
Shows only the definition its a better solution. Thanks

[2015-09-15 23:04] ansonkao commented on #117
I'd like to re-open this issue: the Babel-Sublime package also comes with a modified version of Monokai - that one should support string interpolation!

[2015-09-15 23:07] zertosh commented on #117
@ansonkao I added that a few weeks ago. Make sure you're using ST3 dev (Build 3095) and the latest babel-sublime:

![jxufv](https://cloud.githubusercontent.com/assets/830952/9892469/e153c0b8-5bc3-11e5-8938-37ab9953d1f0.png)

[2015-09-16 01:44] ansonkao commented on #117
ahh! I'm on ST2 and just added babel-sublime yesterday through the package installer. No chance of backwards compatibility?

[2015-09-16 01:46] zertosh commented on #117
sorry @ansonkao, none what so ever. In fact, as soon as the next beta build of ST3 comes out, I'll drop support for everything before that (see https://github.com/babel/babel-sublime/blob/master/messages/7.1.0.txt)

[2015-09-23 00:05] danesparza commented on #171
I'm on Windows 7, and I had to:
- first do an `npm install -g babel` (of course)
- get the path that `%AppData%\npm\node_modules` mapped to. For me, this path ended up being `C:/Users/myusername_here/AppData/Roaming/npm/node_modules`.  Note the use of forward slashes.
- Take this path and place it in the *Babel.sublime-settings* file.  This is pretty easy to spot by going into *Sublime -> Preferen

[2015-09-23 16:10] wprater opened #181 "modifying template to allow for custom template strings"
I've been trying to modify the `JavaScript (Babel)` syntax to allow for a special `literal-quasi`.  however, it seems the template strings are being recognized as `string.interpolated.js` vs `string.quasi.js`.  from within the `class` scope, I wanted to capture `static template = ```` ` as HTML.

thoughts?

[2015-09-24 02:56] zertosh commented on #181
template strings are captured as `string.interpolated.js` inside and outside of classes. I plan on remaining back to `string.quasi.js`. However, how does this affect what you're trying to do?

[2015-09-24 06:24] wprater commented on #181
whoops, I was editing the older `JavaScript (Babel).YAML-tmLanguage` and converting it to `JavaScript (Babel).tmLanguage` with AAAPackageDev

[2015-09-24 06:24] #181 closed

[2015-09-24 07:29] wprater commented on #181
however, when I try to edit your file for testing and match a new start for a interpolated wtring with this pattern, it does not match.  is that because it's matched by other contexts?

`match: '\bstatic\s*\btemplate\s*=\s*```'`

[2015-09-24 20:50] wprater commented on #181
actually, my above fix does not work. when I push the Babel syntax will overwrite my match above.  thoughts on how to achieve this?

[2015-09-25 02:58] zertosh commented on #181
[code]

[2015-09-25 06:02] wprater commented on #181
nice, very helpful!!

[2015-10-06 07:49] zertosh commented on #59
I found a solution to this - I'll push a fix soon

[2015-10-06 07:50] zertosh commented on #179
Tracking this in https://github.com/babel/babel-sublime/issues/59. But yeah, you're right - it's annoying.

[2015-10-06 07:50] #179 closed

[2015-10-06 07:50] zertosh commented on #92
A few months later, but done!

[2015-10-06 07:51] zertosh commented on #92
https://github.com/babel/babel-sublime/pull/184

[2015-10-06 07:51] #92 closed

[2015-10-06 08:09] ddemolina commented on #59
Only I want to clarify there are two diferents problems. One is related to "Go to definition' (F12) which I commented in previous message.
The other issue is related to "Go to Symbol" (Ctrl +R). I've seen you has closed #179 and referenced from #59
Maybe, internally, its the same but I only want to clarify they are different problems in order to avoid missunderstandings.
Thanks

[2015-10-06 11:56] dogoku opened #185 "Crashes on certain minified files"
I'm not sure exactly what's going on, but it seems like when I try opening certain minified JS files while using the JavaScript (Babel) syntax, sublime just becomes unresponsive, locks to 99% cpu and only way to kill it is force quit (in Mac)

I discovered this because Sublime was getting stuck for a long time while indexing. After checking the console log, I noticed sublime force quitting it's wo

[2015-10-06 13:42] johanobergman commented on #185
I can confirm the issue. The sublime console shows the following error:
`worker 958 appears stuck while processing file /Users/....../jquery/jquery.min.js, killing process`

[2015-10-06 14:13] zertosh commented on #185
I found the change that was causing this and reverted it. That's definitely a Sublime bug but I guess I'll work around it. Really weird. I published it as v8.3.1, it should get picked up by Package Control soon. Sorry!

[2015-10-06 14:13] #185 closed

[2015-10-06 14:55] johanobergman commented on #185
Thanks, that was quick!

[2015-10-06 15:34] zertosh commented on #185
@johanobergman Np, do you happen to know how long it was taking the worker to die? And how unresponsive was Sublime during the indexing? Or was it not felt on the app, and it was just the background processes? I'm asking because I keep indexing off, so I wouldn't have noticed this.

[2015-10-06 15:41] johanobergman commented on #185
Well, I noticed it because my Macbook Air's fan started spinning like crazy. I'm not sure, perhaps around 20-30 seconds (I have already updated :worried:). Sublime didn't crash for me, and felt kind of normal. The indexing progress was stuck at 99% though, that's when I opened the console and googled the error.

[2015-10-06 15:44] dogoku commented on #185
Yep, about 30sec for it to stop the worker. For indexing, Sublime would just slow down considerably, but was still usable. If you try to open a minified directly, sublime will lock permanently and you have to force quit.

[2015-10-06 15:52] zertosh commented on #185
Thank you both again! It's good to know that I should test minified files.

[2015-10-06 17:11] zertosh commented on #185
For posterity, this was broken by #184.

[2015-10-06 23:12] davis opened #186 "double slashes in jsx"
![screen shot 2015-10-06 at 4 12 39 pm](https://cloud.githubusercontent.com/assets/4855619/10325304/185c1722-6c45-11e5-800d-669285fe9ace.png)

[2015-10-06 23:13] davis commented on #186
notice on line 6 i have double slashes then after that the syntax highlighting breaks

[2015-10-06 23:15] davis commented on #186
hmm it might actually have something to do with sublime linter...
[code]

[2015-10-06 23:44] zertosh commented on #186
Ah yeah, my fault - I broke that in #184 but only for users using ST3 dev. I have a few more fixes to push out, I'll get those out soon.

[2015-10-06 23:58] davis commented on #186
ah, got it. thanks for the fast response!

[2015-10-07 07:23] #186 closed

[2015-10-07 07:23] #173 closed

[2015-10-07 07:24] zertosh commented on #186
The fix is in v8.4.0.

[2015-10-07 07:28] zertosh commented on #173
So this is published in v8.4.0 buttttttt it only works if you disable the stock JavaScript package. ST3 is giving priority to its own package (though I think it's more an alphabetical thing, like if this this called zBabel-Sublime it would load after JavaScript and its settings would control).

[2015-10-07 07:33] zertosh commented on #59
I just published v8.4.0, for any of this to work you need to disable the stock JavaScript package - sorry, not my fault. This is the current status:

* The Goto Symbol panel looks really clean - no extra function keyword, no arrow functions.
* If from a short-method's name up to the start `{` are not on the same line, it's not gonna show up. It's complicated. I'm working on it - it works in #183,

[2015-10-07 16:10] 807811b0-1373-11e5-b60b-1697f925ec7b opened #188 "false is not highlighted correctly"
![bad-highlighting](https://cloud.githubusercontent.com/assets/12897710/10343576/5464f534-6cec-11e5-9753-8a77d79bf906.png)

I have noticed that false is not being highlighted anymore. Using the latest 8.4.0 and [Oceanic Next](https://github.com/voronianski/oceanic-next-color-scheme).

[2015-10-07 17:02] voronianski commented on #188
@807811b0-1373-11e5-b60b-1697f925ec7b @zertosh +1

Scope doesn't contain any `boolean` tag.

[2015-10-07 17:07] #188 closed

[2015-10-07 17:08] zertosh commented on #188
Sorry about that - The fix is in v8.4.1.

[2015-10-07 17:09] voronianski opened #189 "New function scopes?"
Most of the functions are no longer highlighted properly in Oceanic Next:

<img src="https://dl.dropboxusercontent.com/u/100463011/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202015-10-07%20%D0%B2%2020.05.55.png" width="500" />

As you see from screenshot `createReferenceQuestions`, `find` and `toString` are not highlighted with blue color though they were in prev v

[2015-10-07 17:17] zertosh commented on #189
Yes, function calls in the _old_ syntax were incorrectly captured as `entity.name.function.js`, I renamed them to `variable.function.js`. See 5f52601cace48967afe5e26fc89274ec7b38665f and a8f7c8bb9a5e6925241126a96af17d0d5f1a2c25. And 567d81ef5ee216b230d3063aea7ba52b92044e86 may also be relevant.

I personally like function calls highlighted too so in my theme I have [this](https://github.com/zertos

[2015-10-07 17:26] voronianski commented on #189
@zertosh thx for quick response, will update Oceanic Next then

[2015-10-07 17:26] #189 closed

[2015-10-07 23:29] Adam13531 opened #190 "Sublime hangs when typing "=> <""
Repro is simple:
1. Make new buffer
2. Set syntax highlighting to Babel.
3. Type "=> <" without the quotes.

This causes Sublime to hang indefinitely.

[2015-10-08 02:53] zertosh commented on #190
Can't repro. Are you using ST3?

[2015-10-08 02:54] Adam13531 commented on #190
No, I'm on ST2. If you'd like, email me and I can Skype you a repro.

[2015-10-08 02:59] zertosh commented on #190
ST2 hangs for some reason - check the issues. I'm not support it. Sorry.

[2015-10-08 03:05] Adam13531 commented on #190
Got it, thanks for the quick response. I found the issue you're referring to [here](https://github.com/babel/babel-sublime/issues/112).

Just one more detail before I close this bug: I was originally trying to get this code to work:
    {() => <someTag
        onClickHandler={blah}
        onOtherHandler={blah}/>}

Putting `<someTag` on a new line lets me work around this.

[2015-10-08 03:05] #190 closed

[2015-10-09 11:00] bcalik opened #191 "Last update breaks my code"
Hello,

Today my laravel blade syntax highlighter is broken. I wasted my half an hour to find which package cause this. And the result is Babel.

Screenshots are attached for both enabled/disabled babel package.

<img width="1680" alt="screen shot 2015-10-09 at 13 55 32" src="https://cloud.githubusercontent.com/assets/9222368/10392241/f360b126-6e8d-11e5-9491-db7af363c730.png">
<img width="1680" al

[2015-10-09 12:19] edweena commented on #172
i'm having the exact same issue and not using sublime linter. how did you fix it?

[2015-10-09 16:14] zertosh commented on #172
@edweena, it may be:
1. Because of #185, but that was fixed in v8.3.1, or
2. ST2 is not supported, or
3. Whenever I publish an update, if you have global indexing turned on, then ST3 re-indexes everything.

[2015-10-09 16:16] zertosh commented on #191
Please provide me with repro instructions - I don't write PHP and I don't know what Laravel Blade is.

[2015-10-09 20:36] bcalik commented on #191
I realized that the problem is about script closing tag </script>.
It does not work if there is a space before.

![out](https://cloud.githubusercontent.com/assets/9222368/10404916/52b4cc8e-6ede-11e5-9a9b-947656f4142f.gif)

--

To produce you can install [Laravel Blade](https://packagecontrol.io/packages/Laravel%20Blade%20Highlighter) package, It just adds a syntax definition.

Then paste the follo

[2015-10-10 03:23] zertosh commented on #191
Works for me. My guess is that you're using ST3 beta and not dev - I took a look at Laravel Blade and just like babel-sublime, they're optimized for newer builds of ST3 (see https://github.com/Medalink/laravel-blade/issues/76). Try ST3 Build 3095 from the [dev channel](http://www.sublimetext.com/3dev).

![jfplu](https://cloud.githubusercontent.com/assets/830952/10409002/a66e75ca-6ec3-11e5-922b-e86

[2015-10-13 07:31] liorbrauer commented on #96
Thank you @kwood @chrisvfritz, this is VERY helpful!

[2015-10-13 23:02] thedamon commented on #138
@OliverJAsh that's strange.. I came to this package after I wasn't getting that behaviour with JavaScriptNext.tmLanguage

[2015-10-14 06:32] ccqgithub commented on #191
I met the same problem.  If i disable the babel package，all is ok !

[2015-10-14 07:42] zertosh commented on #191
Have you tried ST3 build 3095?

[2015-10-14 07:59] ccqgithub commented on #191
@zertosh build 3083

[2015-10-14 08:01] zertosh commented on #191
To run the current version of Laravel Blade simultaneously with the current version of babel-sublime, you need 3095.

[2015-10-14 09:56] dburrows opened #194 "JSX highlighting issue when closing tag on separate line"
ST3, babel-sublime 8.5

There's an issue with highlighting when closing a JSX tag on a separate line - sets the rest of the code to quoted string highlighting until the next closing tag, see attached image

![jsx-highlight-bug](https://cloud.githubusercontent.com/assets/44306/10480359/bcc726f4-7261-11e5-8439-4031775ff665.png)

Bug Replication Code
[code]

[2015-10-14 14:58] zertosh commented on #194
It works for me. What build number of sublime are you using?

![cejem](https://cloud.githubusercontent.com/assets/830952/10487560/5ee2a5da-7249-11e5-8dcf-17badc8b8212.png)

[2015-10-14 15:01] zertosh commented on #194
I just tried both build 3083 and 3095, and it works. Maybe you don't have "JavaScript (Babel)" selected?

[2015-10-14 15:36] dburrows commented on #194
Damn, sorry about that, you are right - seem to have lost some config in an upgrade. Sorry to add noise, thanks for all the hard work on this ;)

[2015-10-14 15:36] #194 closed

[2015-10-14 15:39] zertosh commented on #194
np! Thanks! :smile:

[2015-10-16 21:31] mattybow opened #195 "hang on arrow function with implicit return of jsx component"
I'm using Sublime Text 2 and I cannot open or modify files with the following syntax:
[code]
Sublime hangs and the CPU spikes on my computer.  There no problem if you put parens around the component like:
[code]
I'm on 8.3.1, using OSX El Cap. Just went to the [Package Control Page](https://packagecontrol.io/packages/Babel), and saw the ST3 tag, is ST2 just not supported anymore?

[2015-10-16 22:20] zertosh commented on #195
Correct, ST2 isn't supported anymore – because of that issue. Sorry

[2015-10-17 18:37] #195 closed

[2015-10-17 20:33] NeXTs commented on #195
Thanks for opening this issue, I'm just faced same problem and zertoh's answer was very timely for me. :+1:

[2015-10-18 13:07] difelice opened #196 "Close Tag stopped working"
On latest build the action *close_tag* stopped working.

Placing the cursor right after `{'hello'}` and then hitting **Edit > Tag > Close Tag** (`super+alt+.`) does nothing:
[code]

Before and expected:
[code]

Thank you

[2015-10-18 18:08] dvlsg opened #197 "Syntax coloring on functions went missing"
Hey guys, I believe I received an auto update which caused my javascript functions/methods to stop being highlighted. To show what I mean, I typed out part of the example you have on your front page and took a screenshot:

![sublime-missing_method_syntax](https://github-cloud.s3.amazonaws.com/assets/4721566/10565561/5934d5bc-7588-11e5-893d-268fd0910d10.png)

I would expect `React`, `createClass`,

[2015-10-18 18:24] jasperkuperus commented on #196
Yeah, same here. Confirmed in both Sublime 2 and 3.

[2015-10-18 18:48] zertosh commented on #196
Sorry, yeah I have the fix already, I'm just lumping a few more changes together

[2015-10-19 00:25] difelice commented on #196
@zertosh no worries, thank you so much.

[2015-10-19 02:23] zertosh commented on #197
#189 should shed some light on what's going on. Short answer is, you need a new theme, because Monokai doesn't color function calls – it did so before because of a bug.

[2015-10-19 04:55] dvlsg commented on #197
Interesting -- thanks for the link, I will probably make that modification to my local copy of Monokai, then. Thanks!

[2015-10-19 04:55] #197 closed

[2015-10-19 06:02] #196 closed

[2015-10-19 07:36] jasperkuperus commented on #196
Works like a charm now, thanks!

[2015-10-19 14:00] difelice commented on #196
Same here. Thank you!

[2015-10-19 16:30] dvlsg commented on #197
Just as a follow up, confirmed that making a copy of Monokai.tmTheme and adding these lines to the xml brings the function call coloring back to the old way (mostly -- `React` in `React.createClass` is not colored, which is technically how the old way worked, but this seems better to me):

[code]

![image](https://cloud.githubusercontent.com/assets/4721566/10583779/ce6664a2-7643-11e5-832b-eae6c4ad

[2015-10-19 16:35] zertosh commented on #197
@dvlsg, here are the [rules](https://github.com/babel/babel-sublime/blob/2203c2c54b0694f823fa9087f1519315df40df5d/JavaScript%20(Babel).YAML-tmLanguage#L696-L758) that match function calls. If you want `React` to be colored, then try `meta.function-call variable.other.class` – it's an `variable.other.class` because it starts with a capital letter (`R`). This may not be what you want exactly, but ju

[2015-10-19 17:03] #191 closed

[2015-10-19 17:06] bcalik commented on #191
Since sublime text's dev build is closed for free public use, this issue should stay open.

[2015-10-19 17:12] dvlsg commented on #197
Got it. Personally, I like it without `React` without the color, but when/if I run across something else that feels off to me, I'll definitely reference those rules. Thanks for the link!

[2015-10-19 17:13] zertosh commented on #191
@bcalik, you should file an issue with Laravel Blade - your problem is with the _old_ version of it that you're running.

[2015-10-19 17:38] zertosh commented on #197
I can sympathize with that. This is what I my personal theme looks like:

![aadpx](https://cloud.githubusercontent.com/assets/830952/10585710/882d5234-764d-11e5-9faf-a195553db1ae.png)

[2015-10-20 07:48] Prinzhorn opened #200 "Breaking change in recent update"
Hey, I've just fired up Sublime and some of my files don't render correctly anymore. I created a simple demo case. The obvious problem is the = inside the string. But also why are `a` and `b` orange? Throughout my files many variables are now orange, others are still white. It doesn't look like there's a logic behind it.

![screenshot from 2015-10-20 09 44 04](https://cloud.githubusercontent.com/a

[2015-10-20 11:51] liekki opened #201 "Babel-sublime makes Sublime Text crash"
Closing the &lt;div&gt; in the example below causes Sublime to crash
[code]

What could be causing this?

I'm using the latest babel-sublime & Sublime Text v2.02

[2015-10-20 14:05] zertosh commented on #200
That was fixed in v8.6.1

[2015-10-20 14:05] #200 closed

[2015-10-20 14:06] zertosh commented on #201
ST2 isn't supported, sorry.

[2015-10-20 14:06] #201 closed

[2015-10-20 18:13] Prinzhorn commented on #200
@zertosh awesome, just upgraded. Is there a changelog in this repo? I was looking for one before opening an issue. I also couldn't find a history on https://packagecontrol.io/packages/Babel either

[2015-10-20 20:20] nsfmc opened #202 "close tag support?"
Hello, please feel free to autoclose this issue if i am crazy or have misconfigured sublime somehow, but i thought that babel-sublime supported the close tag feature when editing jsx. recently, i set up a new computer and am noticing that babel-sublime doesn't seem to support closing tags in jsx.

i guess two questions: did it *ever*? if it does, has my configuration gotten confused such that it's

[2015-10-20 22:55] zertosh commented on #200
sigh, I _should_ keep a changelog, but I don't :disappointed: The commit messages are usually pretty good though. You can compare between tags to see what changed between versions: https://github.com/babel/babel-sublime/compare/v8.6.0...v8.6.1

I've been making a lot of changes in the last 3 weeks as I port over the rewrite from #183 into master. I'm doing it in small parts because there are actua

[2015-10-21 04:33] zertosh commented on #202
It does. I broke it v8.5.0 and fixed it in v8.6.0. So just update the package and it should work again :smile:

[2015-10-21 07:04] Prinzhorn commented on #200
Don't worry, I didn't thought about looking at the tags. Keep up the good work!

[2015-10-21 07:10] patoroco opened #203 "Babel doesn't appear in sublime language selector"
I was using babel in Sublime Text without problems, but I formated my laptop recently and I needed to reinstall sublime text from the scratch.

The problem is that babel doesn't appear in the language list, and a coworker has the same problem (see below image).

![screen shot 2015-10-21 at 09 06 10](https://cloud.githubusercontent.com/assets/701909/10629950/81e968fe-77d3-11e5-8417-84a1135d8c82.png

[2015-10-21 16:24] nsfmc commented on #202
thanks so much and thanks for working on this package. i really appreciate it.

[2015-10-21 16:24] #202 closed

[2015-10-21 16:48] zertosh commented on #203
ST2 isn't supported anymore - sorry

[2015-10-22 11:03] voronianski opened #204 "Plain text inside jsx tags has meta.tag.jsx scope"
In latest update content of jsx tags has the same scope as tags, it was different in previous version, see example:

![](https://dl.dropboxusercontent.com/u/100463011/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202015-10-22%20%D0%B2%2014.02.06.png)

[2015-10-22 11:26] voronianski opened #205 "css - inside tag and file have different start/end scopes"
css content inside `.css` file has such scopes for start/end {} brackets - `source.css meta.property-list.css punctuation.section.property-list.css` / `source.css`.

**This leads to not highlighted closing curly**:

![](https://dl.dropboxusercontent.com/u/100463011/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202015-10-22%20%D0%B2%2014.16.40.png)

On the other hand c

[2015-10-22 15:24] zertosh commented on #205
Right repo?

[2015-10-22 15:30] zertosh commented on #204
So the reason I scoped tags themselves as `meta.tag.jsx` is so that Sublime will underline the beginning and end tags if your cursor is on top of them (who knew that's how that worked?!?!?!) :

![oepqe](https://cloud.githubusercontent.com/assets/830952/10669750/02435000-7897-11e5-9a25-c2376e2694bb.png)

I didn't think much of the content scope though. Does #206 work for you?

[2015-10-24 17:05] #205 closed

[2015-10-24 17:07] voronianski commented on #205
@zertosh does babel-sublime inherit css scopes from defaults?

[2015-10-24 17:07] voronianski commented on #205
@zertosh or probably I'm just missing smth :mag:

[2015-10-24 17:16] zertosh commented on #205
babel-sublime only sources the [Regular Expressions](https://github.com/babel/babel-sublime/blob/788a87148dd51a774470573acc9e013373c09f94/Regular%20Expressions%20(Babel).YAML-tmLanguage) syntax. However, other syntax definitions like [HTML](https://github.com/sublimehq/Packages/blob/f7f96a0c31f6d6362dcb7ebfab6d1a0db7641f60/HTML/HTML.sublime-syntax#L111) or PHP, source a `source.js` syntax, which d

[2015-10-24 21:09] zertosh commented on #205
This may be what you're seeing https://github.com/sublimehq/Packages/issues/106

[2015-10-26 10:41] aziz opened #207 "Illegal JSX attribute names are not highlighted as invalid"
I'm trying to recreate what you have in screenshots, but I can't.
Am I missing something or is this a buh?

[2015-10-26 10:54] aziz opened #208 "Class properties without semi-colon are not highlighted correctly"
Notice the difference between first and second class definition:
<img width="298" alt="screen shot 2015-10-26 at 11 52 15 am" src="https://cloud.githubusercontent.com/assets/3202/10727186/2fb3d7be-7bd8-11e5-93fe-c9485ae56c69.png">

[2015-10-26 15:47] zertosh commented on #207
I took it off because it was breaking other syntax. I might bring it back because I do like it.

[2015-10-26 15:50] zertosh commented on #208
Yup, known issue. The short version is that is hard to differentiate between a function call and a short method using regexs. #183 fixes that – but I'm still porting it over to master – it's a complete rewrite. Feel free to test it out if you'd like and drop some feedback :smile:

[2015-10-26 15:53] aziz commented on #207
Just remove the screenshot from the readme then, cause it's causing confusion at the moment.

[2015-10-26 15:54] zertosh commented on #207
I'll gladly take new screenshots if you want to submit a PR

[2015-10-26 15:57] zertosh commented on #207
Please make sure they're 728px (or 1456px) wide because they need to fit correctly in the github readme preview and the package control readme. Thanks!

[2015-10-26 15:58] aziz commented on #207
I'm not asking for new screenshots. I just removed the screenshot regarding the feature that has been removed.

[2015-11-02 16:46] grantila opened #210 "Crashes/hangs sublime on arrow functions"
Given a function `loop`, the following (legal syntax) crashes/hangs sublime:
[code]

[2015-11-02 16:52] grantila commented on #210
Has to do with single statement function bodies (i.e. without the curly braces), since the following works:
[code]

[2015-11-02 17:22] zertosh commented on #210
Are you using ST2? That's a known issue there, which is why it's not supported

[2015-11-02 17:48] grantila commented on #210
ST2 yes, didn't know it wasn't supported. Maybe the required ST version should be specified in the README.md, I'm unlikely the only one using ST2.

[2015-11-02 17:50] zertosh commented on #210
It's already limited to ST3 in package control. But you're right, I should add a note to the README.

[2015-11-04 10:39] grantila commented on #210
FYI, I can't remember having had a problem installing it in ST2, so if there is supposed to be a limit in PC, I'm not sure it actually works.
And just like you said, the issue is gone when using ST3, thank you very much.

[2015-11-04 10:39] #210 closed

[2015-11-08 00:13] #204 closed

[2015-11-09 10:44] grantila opened #212 "Invalid parsing of apostrophes"
Sorry, my bad, ST3 fooled me into believing babel-sublime was actually used.

[2015-11-09 10:46] #212 closed

[2015-11-10 21:31] Sotorin commented on #203
I'm actually experiencing the same thing. Yesterday, on a different VM, everything worked perfectly but now, when I performed another clean install it does not work. I'm definitely on ST3 (build 3083) and installed, uninstalled, restarted, rebooted and ... nothing. JavaScript (Babel) does not show up.

[2015-11-11 04:15] zertosh commented on #203
@Sotorin that's weird - nobody else is reporting that problem

[2015-11-11 05:02] Sotorin commented on #203
Everything is working fine now. I could have sworn that JavaScript(Babel) was under JavaScript, not under Babel. Unfortunately I deleted my VM from couple of days ago so I can't even prove myself wrong. I re-read the docs and sure enough it says Babel->JavaScript(Babel), not JavaScript->JavaScript(Babel).

[2015-11-11 07:21] #203 closed

[2015-11-13 04:26] DylanPiercey opened #213 "Context aware comments."
I'm not sure if this is something that is possible by this plugin, but it's an inconvenience for sure.
Currently when you try to comment within jsx using shortcuts (not within a tag, but the child section) it tries to do a js comment which is invalid.

[code]

Which should be:

[code]

It would also be cool if the syntax highlughting also grayed out the interpolation `{}`.
If any one has a solutio

[2015-11-14 19:30] zertosh commented on #213
See https://github.com/babel/babel-sublime/issues/173#issuecomment-146100542

[2015-11-14 19:51] DylanPiercey commented on #173
@zertosh how do you go about disabling the stock js package?

[2015-11-14 19:54] zertosh commented on #173
@DylanPiercey https://github.com/babel/babel-sublime#advanced-usage

[2015-11-14 21:29] #213 closed

[2015-11-14 21:30] DylanPiercey commented on #173
@zertosh thanks! Missed that bit.

[2015-11-16 11:24] AndreDalcher opened #214 "Variable name immediately followed by colons are incorrectly coloured"
If a variable name is used as part of an operation and directly precedes a colon, e.g. in a ternary, it gets coloured incorrectly.

![image](https://cloud.githubusercontent.com/assets/12794858/11180657/6f79e83e-8c54-11e5-9466-aa35c3633601.png)

[2015-11-17 17:16] owenhoskins opened #215 "SublimeText 2 crashes in JSX "=>" fat arrow function"
Hello, I am starting to enjoy these new ES6 syntaxes, thanks for this package!

Desired:
`{this.state.files.map((file) => <img src={file.preview} /> )}`

ST2 freezes on typing the first character within the HTML "<" brackets.

I uninstalled and reinstalled babel-sublime via ST2 Package manager, but to no avail.

Any ideas?

best,
Owen

[2015-11-17 20:37] hawkrives commented on #215
Apologies, but `babel-sublime` no longer supports ST2.

@zertosh I just noticed that the README doesn't mention this anywhere. Would you mind a PR adding a notice about the (lack of) ST2 support to the top of the README?

[2015-11-27 19:13] zertosh commented on #215
@hawkrives Sorry for the delay. I'd happily merge it :+1:

[2015-11-27 19:13] #215 closed

[2015-11-30 11:24] Kos opened #217 "Some method calls are treated as definitions"
Looks like this syntax sometimes confuses method definitions with method calls. This affects functionality that relies on code indexing, like `Goto: Definition...` (F12) and `Goto: Symbol in project...` (Ctrl+shift+R).

I've also checked the `Javascript Next` syntax that this plug-in is based off. It has similar problems, but the behaviour is actually different, so I'm reporting it here.

Create a

[2015-12-02 23:42] TomClarkson opened #218 "Can't find in package control"
Is there something I need to do to be able to install in sublime?

![screen shot 2015-12-03 at 12 44 54 pm](https://cloud.githubusercontent.com/assets/2054503/11547749/42e7b9ee-99bb-11e5-8747-421d58f86a85.png)

[2015-12-03 15:16] pcaisse opened #219 "JSX syntax highlighting"
Self closing tag terminations (`/>`) on new lines aren't handled properly:

![screen shot 2015-12-03 at 9 50 35 am](https://cloud.githubusercontent.com/assets/2926237/11564376/d653d47a-99a6-11e5-9c48-a6c200b08645.png)

[2015-12-06 04:49] Torvin opened #220 "'NoneType' object is not subscriptable"
I've installed babel-sublime and haven't changed any settings. When I run 'Babel transform' command, I only get a new document with this content:

PS: Sublime Text v3083

[2015-12-07 23:29] Torvin commented on #220
Found the cause. `node_bridge()` has a bug here:

    raise Exception('Error: Couldn\'t find "node" in "%s"' % env['PATH'])

while `env` is not assigned when running on Windows and will always be `None`. Suggested fix:

    --- Babel/Babel.py
    +++ Babel/Babel.py
    @@ -79,11 +79,10 @@ class BabelCommand(sublime_plugin.TextCommand):

     def node_bridge(data, bin, args=[]):
    -	env = None

[2015-12-08 13:10] julien-f opened #221 "`type` breaks syntax highlighting"
[code]

[2015-12-11 10:56] epicallan opened #222 "Formatter for this file type (javascript (babel)) not found while using sublime code formatter"
I get this error when i try to use any code formatter sublime package after setting babel as the only javascript package in sublime

[2015-12-11 14:28] kzvaigzne opened #223 "Issue with rule overriding?"
So I have a simple file `test.jsx` with the content
[code]

And I'm getting a really weird error when linted:
[code]

What makes no sense is that none of those rules are related to the code actually linted..

Let me know if you need the full .eslintrc file content aswell but it's basically https://github.com/meteor/meteor/blob/devel/scripts/admin/eslint/.eslintrc

[2015-12-14 11:53] faiwer opened #224 "Non-egypt brackets at shorthand methods"
[code]

shorten-name of method1 - white.

![img_14_12_17 51 31_60cd6acaec8](https://cloud.githubusercontent.com/assets/744114/11780324/56b9f01c-a28b-11e5-9d35-49b856995823.png)

[2015-12-14 12:13] faiwer commented on #224
Also methods list without `method`

![img_14_12_18 11 02_29ca9399797](https://cloud.githubusercontent.com/assets/744114/11780712/4be3e726-a28e-11e5-9879-4a83eb5a985e.png)

[2015-12-21 11:42] faiwer commented on #221
Confirm it:

![img_21_12_17 41 24_3fecbd6076e](https://cloud.githubusercontent.com/assets/744114/11930027/1d989020-a80a-11e5-84c2-a9d5f492f0cb.png)

[2015-12-24 03:54] NicoSantangelo opened #225 "Shorthand methods with a space before the parens"
Hey!

I don't know if this is the intended behaviour but adding a space before the parens in shorthand methods looks like this:

![image](https://cloud.githubusercontent.com/assets/692077/11989263/8d215754-a9d8-11e5-8af9-15dbe58a7049.png)

I can take a look but I think it might be better if #183 is merged first?

Thanks!

[2015-12-24 11:20] elmigranto commented on #221
Isn't `type` reserved word?

[2015-12-27 06:31] wzup opened #226 "Doesn't match React's end of line comments"
React has an end of line comments https://facebook.github.io/react/docs/jsx-in-depth.html#comments
The plugin doesn't match them. Here is an example.

Default ST3 JavaScript syntax, matched:
![js_standard](https://cloud.githubusercontent.com/assets/3880497/12009121/249a7b7c-aca6-11e5-8832-5ab17cfbc73d.png)

JavaScript Babel, not matched
![js_babel](https://cloud.githubusercontent.com/assets/388049

[2015-12-28 18:01] jackiekamara commented on #203
Hi!
I'm experiencing the same problem:  Babel isn't an option in the language selector. Using OS X El Capitan, with Sublime Text 3, installed Babel through PackageControl.

<img width="498" alt="screen shot 2015-12-28 at 12 56 28 pm" src="https://cloud.githubusercontent.com/assets/16366430/12022998/0f432996-ad63-11e5-9d9a-ee4059ebe662.png">

[2015-12-28 18:03] jackiekamara opened #227 "Babel Not an Option under Syntax"
Hi!
I'm experiencing the same problem as folks earlier: Babel isn't an option in the language selector. Using OS X El Capitan, with Sublime Text 3, installed Babel through PackageControl.

<img width="498" alt="screen shot 2015-12-28 at 12 56 28 pm" src="https://cloud.githubusercontent.com/assets/16366430/12023019/57cbc362-ad63-11e5-90a9-852a7f72d3f6.png">

[2015-12-29 03:49] MareoRaft opened #228 "Syntax highlighting HTML files (with JavaScript in them)"
Hey there!  I'm very happy with Babel syntax highlighting, but unfortunately it does not work correctly when I have an .html file with javascript in it.

Could there be support for or separate highlighting definition that includes basic HTML stuff?  That way when I write short html files with JS in them, I can see it well just like my javascript files.

Would be super helpful!  Thanks, let me know

[2015-12-30 14:16] gajus commented on #141
Adding return type breaks the highlighting, e.g.

<img width="573" alt="screen shot 2015-12-30 at 14 14 58" src="https://cloud.githubusercontent.com/assets/973543/12051764/c96fbf8a-aeff-11e5-8e1f-f4a2e052295f.png">

without:

<img width="506" alt="screen shot 2015-12-30 at 14 15 49" src="https://cloud.githubusercontent.com/assets/973543/12051768/da3d28c0-aeff-11e5-87c7-6d1db45d527d.png">

[2016-01-02 03:22] zertosh commented on #217
It's working for me in ST3 Build 3095 (the current dev version). I wouldn't be surprised if it didn't work in the current beta version because that uses a different less-capable syntax format. Can you confirm the build of ST3 that you're using?

![goto-def](https://cloud.githubusercontent.com/assets/830952/12073077/fff48e28-b0bc-11e5-862b-af147c520a86.gif)
![suggest](https://cloud.githubuserconten

[2016-01-02 03:28] zertosh commented on #218
It's definitely still available in package control. I know this issue is a month old, but installing it this very moment doesn't work because packagecontrol.io seems to be under a DDOS attack. https://github.com/wbond/package_control/issues/1045

[2016-01-02 03:28] #218 closed

[2016-01-02 03:33] zertosh commented on #219
Works for me. On ST3 build 3095. Can you try using the latest dev build of ST3 to see if the problem persists?
<img width="205" alt="rvhzr 1" src="https://cloud.githubusercontent.com/assets/830952/12073098/81b96112-b0be-11e5-8066-13d6872314f3.png">

[2016-01-02 03:40] zertosh commented on #220
Hmm, does this actually make it work for Windows? Or just fixes showing a better error message?

[2016-01-02 03:41] zertosh commented on #221
Yeah. This is going to be hard. Sorry for letting this issue slip by.

[2016-01-02 03:42] zertosh commented on #222
Can you tell me the exact package and version that's giving you that error so I can try to repro it?

[2016-01-02 03:42] zertosh commented on #223
Wrong repo

[2016-01-02 03:42] #223 closed

[2016-01-02 03:46] zertosh commented on #224
Nothing I can do about this any time soon. The issue is with differentiating between short methods and function calls. It's a non-trivial issue because braces can create blocks or objects.

[2016-01-02 04:01] zertosh commented on #226
End of line comments within the attributes, not in the body. So the behavior you're seeing is correct. (However, it's doing the incorrect thing in ST3 build 3095 – but again, what you're seeing is correct).

<img width="499" alt="eaivm" src="https://cloud.githubusercontent.com/assets/830952/12073161/34142a74-b0c2-11e5-8f6d-dd926123db6b.png">

[2016-01-02 04:01] #226 closed

[2016-01-02 04:02] zertosh commented on #226
You can also see that this is correct in the [transpiled output](http://babeljs.io/repl/#?experimental=true&evaluate=true&loose=true&spec=false&code=%20%20%3CComponent%0A%20%20%20%20className%3D%22items%22%20%2F%2F%20comments%20are%20ok%20here%0A%20%20%20%20%3E%0A%20%20%20%20%7BitemNodes%7D%20%2F%2F%20I%20am%20not%20a%20comment%20%3CFoo%2F%3E%20but%20actual%20text%0A%20%20%3C%2FComponent%3E%0A%20%

[2016-01-02 04:08] zertosh commented on #227
That's weird. Is this still a problem?

[2016-01-02 04:11] zertosh commented on #228
javascript in html files is handled by the stock javascript syntax definition. if you want babel-sublime to take precedent over it, you'll have to disable the builtin one. personally, i do this, but i can't guarantee that other plugins won't suffer as a result. see https://github.com/babel/babel-sublime#advanced-usage

[2016-01-02 04:11] #228 closed

[2016-01-02 04:11] #59 closed

[2016-01-02 04:12] #225 closed

[2016-01-02 04:13] zertosh commented on #225
Fixed in v8.6.3, but package control is having issues right now, so it might take a bit for you to see the update.

[2016-01-02 04:45] Torvin commented on #220
Yes, it shows the correct error message, instead of crashing miserably.

[2016-01-02 04:53] zertosh commented on #220
Cool. Would you like to submit a PR? Or I can do it a bit

[2016-01-02 05:15] Torvin commented on #220
I'm too lazy to submit a proper PR :) I was hoping the patch above would be enough.

[2016-01-02 05:55] #220 closed

[2016-01-02 05:56] zertosh commented on #220
Fixed in v8.6.4

[2016-01-02 08:24] jackiekamara commented on #227
Yes. Still not working.

[2016-01-02 08:28] zertosh commented on #227
Can you try re-installing it? It's never turned out to be a problem with babel-sublime, but it's always something weird with ST3.

[2016-01-02 14:07] NicoSantangelo commented on #225
Thanks!

[2016-01-02 14:41] gajus opened #229 "Bad export JSX highlighting"
<img width="340" alt="screen shot 2016-01-02 at 14 41 04" src="https://cloud.githubusercontent.com/assets/973543/12074777/de7b5888-b15e-11e5-9343-69c5d89edf49.png">

What it should be:

<img width="348" alt="screen shot 2016-01-02 at 14 41 20" src="https://cloud.githubusercontent.com/assets/973543/12074778/e6d743c0-b15e-11e5-9a90-c8694edb24ad.png">

[2016-01-02 15:48] Kos commented on #217
This might be it, I'm on ST3 build 3083 (from the Ubuntu PPA). Will have a look at the dev builds later today.

[2016-01-02 17:13] #229 closed

[2016-01-02 17:15] zertosh commented on #229
Fixed in v8.6.5, but package control is still down

[2016-01-02 17:21] gajus commented on #229
Awesome. Thank you

[2016-01-03 13:56] hoorayimhelping commented on #227
I think this is a package control issue. It's not showing up in search, and it has a badge that says `removed` next to it:

https://packagecontrol.io/search/babel
https://packagecontrol.io/packages/Babel

![](http://i.imgur.com/0L4V4IY.png)
![](http://i.imgur.com/e1qoUl1.png)

[2016-01-03 19:28] v1rt opened #230 "Not really an issue but update babel-sublime"
I installed babel-sublime 6 months ago in my sublime text 3. I would like to update it. How can I update it?

[2016-01-04 15:18] hawkrives commented on #230
Package Control usually automatically updates packages. You can check the version that you have installed by opening the Command Pallet (⌘/CTRL-SHIFT-P) and choosing "List Packages".

If it's not up-to-date (my copy is at v8.6.2), then you should be able to update it with the "Upgrade Package" command.

[2016-01-04 21:07] v1rt commented on #230
That worked! Thanks!

[2016-01-04 21:07] #230 closed

[2016-01-05 18:20] MareoRaft commented on #228
Thanks!  So far so good!

[2016-01-05 20:05] zertosh commented on #228
Ok cool

[2016-01-07 17:24] kulakowka opened #231 "GraphQL syntax highlighting"
Are you plan to support syntax for GraphQL queries?

Now it looks ugly:
<img width="331" alt="2016-01-07 20 22 36" src="https://cloud.githubusercontent.com/assets/557190/12177303/6eb088e4-b57c-11e5-9a90-e6fbc377cd11.png">

[2016-01-08 11:50] Alexey-T opened #232 "Advice for Syntax"
Hi; i make syntax for JSX for my editor. Can you advice? Is it good (in syntax lexer) to hilite also JQuery spec words?

$
add
addBack
addClass
after
ajax

....etc. Or JSX/Babel don't need to hilite these words?

[2016-01-08 15:33] hawkrives commented on #232
While it's up to you, I will note that I don't use jQuery in my react apps, so I would likely find the highlighting pointless.

[2016-01-08 16:01] Alexey-T commented on #232
thanx.

[2016-01-09 19:25] #232 closed

[2016-01-14 15:40] tejasmanohar commented on #218
@zertosh I'm facing the same issue. I see the package [here](https://packagecontrol.io/packages/Babel), but it doesn't seem to show up via cmd+shift+p -> "Package Control: Install Package" -> "Babel". I'm on latest ST3 - any ideas? Thanks in advance!

[2016-01-15 17:30] zertosh commented on #218
It's there:
<img width="495" alt="sflcq" src="https://cloud.githubusercontent.com/assets/830952/12360089/a4880d40-bb6a-11e5-8b26-2ef953082309.png">

[2016-01-15 20:53] tejasmanohar commented on #218
Doesn't show up for me. Any tips?

[2016-01-15 20:53] tejasmanohar commented on #218
Do I need to update repositories on package control or something?

[2016-01-16 05:48] zertosh commented on #218
Package control autoupdates, but it sounds like you may have problems with that.

[2016-01-18 04:38] zertosh commented on #231
I've tried, and I'd love to, but there's a giant problem: Embedding expressions (i.e. `${ }`) break the continuity of the string and it makes useful highlighting impossible. You could end up in a worse off place.

So I'm calling this a won't fix. Sorry.

[2016-01-18 04:38] #231 closed

[2016-01-18 04:43] zertosh commented on #227
I just tried a fresh install of ST3 and Package Control, and it's Babel is there. Feel free to open a new issue if there's something I missed.

[2016-01-18 04:43] #227 closed

[2016-01-18 04:44] zertosh commented on #222
Closing due to lack of activity.

[2016-01-18 04:44] #222 closed

[2016-01-18 04:45] zertosh commented on #219
Closing due to lack of activity and reproducibility.

[2016-01-18 04:45] #219 closed

[2016-01-18 04:46] zertosh commented on #217
@Kos is it working for you?

[2016-01-18 04:47] zertosh commented on #214
Sorry for the super late response. That's a known issue because of how distinguishing between object keys and ternary alternates works.

[2016-01-18 04:47] #214 closed

[2016-01-18 21:12] Kos commented on #217
Yeah, can confirm the behaviour is OK on 3095 but broken on 3083.

[2016-01-18 22:37] zertosh commented on #217
I figured. The syntax support in 3083 is pretty poor.

[2016-01-18 22:37] #217 closed

[2016-01-19 11:21] Kos commented on #217
would you like a PR that will mention in the README that a dev build of Sublime is required? (I wasn't even aware there are newer versions until you pointed it out to me.)

[2016-01-19 12:10] kaste commented on #228
By disabling the builtin Javascript package, I get

![disable javascript](https://cloud.githubusercontent.com/assets/8558/12418187/fc135bdc-bead-11e5-9194-52cb2cf55653.PNG)
![disable javascript 2](https://cloud.githubusercontent.com/assets/8558/12418190/02ffa450-beae-11e5-8b17-90a8b0c24d02.PNG)

[2016-01-19 13:13] max-mykhailenko opened #233 "Code folding problem"
How I can improve code folding for the next example?

Want to use
<img width="554" alt="screen shot 2016-01-19 at 3 04 26 pm" src="https://cloud.githubusercontent.com/assets/1213198/12419338/14e2d52e-bebe-11e5-980d-0b14b3794440.png">

But get incorrect folding
<img width="545" alt="screen shot 2016-01-19 at 3 04 35 pm" src="https://cloud.githubusercontent.com/assets/1213198/12419337/14df2fbe-bebe-

[2016-01-19 13:20] max-mykhailenko commented on #233
Find problem here https://github.com/SublimeTextIssues/Core/issues/101

[2016-01-19 13:20] #233 closed

[2016-01-19 17:27] zertosh commented on #217
It's not required, it's just got different bugs.

[2016-01-19 17:27] zertosh commented on #217
So maybe something that says for best support use "ST3 Build 3095"? I'll take that :smile: Thanks!

[2016-01-19 17:30] zertosh commented on #228
@kaste, disabling the builtin javascript package is a run At Your Own Risk setting. I have no intention of supporting it, I'm just letting users know that that is an option. That said, on Mac and Linux, I've never seen the stock HTML package complain about not finding the stock Javascript package. Maybe it's a windows thing? Sorry.

[2016-01-19 21:50] kaste commented on #228
Enabling, disabling things randomly and restarting Sublime several times
before, after and in-between did it. 💪

Andres Suarez <notifications@github.com> schrieb am Di., 19. Jan. 2016
18:30:

[2016-01-21 21:17] wesbos opened #235 "Possible to use Babel for Markdown?"
I'm trying to write ES6 in markdown, but it some code like this breaks the highlighter:

I asked this question over at Markdown Editing: https://github.com/SublimeText-Markdown/MarkdownEditing/issues/305

I'm not sure if you package would be able to play along nicely with markdown editing?

![](http://wes.io/eqhq/content)

![](http://wes.io/dE5t/content)

[2016-01-31 06:23] zertosh commented on #235
Sublime's stock JavaScript package is taken precedence over babel-sublime. The solution is to disable it (see https://github.com/babel/babel-sublime#advanced-usage). However, you're on your own after that. I personally haven't had any problems, but I don't know how many plugins out there expect the stock JavaScript package to be enabled.

[2016-01-31 06:23] #235 closed

[2016-02-01 19:36] omeryagmurlu opened #237 "'open paranthesis' in a string breaks syntax highlighting."
Code:
[code]

Self explaining image:

![screenshot from 2016-02-01 21-33-08](https://cloud.githubusercontent.com/assets/8201544/12728685/b2a4a630-c92b-11e5-96e1-b811acf976b2.png)

[2016-02-03 13:15] liady opened #238 "static keyword is no longer highlighted inside classes"
Seems like the `static` keyword is no longer highlighted:

<img src="https://cloud.githubusercontent.com/assets/7003853/12783193/a4959abe-ca88-11e5-895d-824ad9d4b3ab.png" width="500">

It seems to have changed for me in the past few weeks.

Is it something that should be re-configured?

[2016-02-06 15:13] aziz opened #239 "Specific scopes for curlies and braces with different semantic meanings"
Javascript is using curlies `{}` and braces `()` in differenct contexts with different meanings. What I like about the new [Sublime Ecmascript syntax](https://github.com/bathos/Ecmascript-Sublime) is that it assigns diffent scopes to different use cases of these punctuations, allowing me to give them different colors which makes reading the code much more pleasant.

<img width="731" alt="screen sh

[2016-02-07 21:37] pcaisse commented on #219
I'm on the latest stable build, 3083. Can you reproduce it there? I would think it should work using the stable build, and I'm not a registered user so I can't use the dev build according to this:

https://www.sublimetext.com/3dev

[2016-02-08 00:13] zertosh commented on #219
JSX matching works on 3083. Are you sure you have "JavaScript (Babel)" set as the syntax?

[2016-02-10 14:02] pcaisse commented on #219
That was it! :facepalm: Thanks for the help, I appreciate it!

[2016-02-14 14:11] gajus commented on #141
@zertosh any updates on this?

[2016-02-15 18:49] rikkuporta opened #240 "Syntax Highlighting: 'static' Keyword and Function Names"
The static Keyword is only highlighted the first time it occurs and the first Function name afterwards is not highlighted at all. This only occurs if you omit the Semicolon after defining the variable.

I'm not sure if this is valid ES6 Syntax. It seems to produce the same results in code and looks 'valid'.
![image](https://cloud.githubusercontent.com/assets/3002584/13057478/d777518c-d41c-11e5-989

[2016-02-19 18:21] vans163 opened #241 "Not highlighting => functions and template strings ` poor readability"
Template strings using grave accent are being highlighted very poorly IMO. They should use the same highlight as "".  Atm they blend in with everything else and its hard to tell if its a string or code.  Atleast highlight the ` gold as well to see where the string starts and ends.

This seems to be a regression as the image in the README shows grave accent template strings highlighted properly.

F

[2016-02-24 02:52] Sawtaytoes opened #242 "Sublime Text 3 build 3103 and above improved JS highlighting"
There were some major updates to the default JS syntax highlighting and even more this week: https://www.sublimetext.com/3dev.

Is this plugin required now if I have ST3 build 3103 or higher?

[2016-02-24 09:26] jeffijoe opened #243 "`class extend expression('string')` not highlighted correctly"
The string in `createType` is not highlighted correctly.

![image](https://cloud.githubusercontent.com/assets/2505474/13280928/1d63ab44-dae1-11e5-9439-1b3a75ed3f05.png)

[2016-02-24 12:08] #238 closed

[2016-02-25 00:04] stevenguh opened #244 "Inline string concat in ternary breaks highlighting"
![capture](https://cloud.githubusercontent.com/assets/3455662/13305403/debd056e-db0f-11e5-93ce-b1695a4fb444.png)

As you can see in the picture, the string concat doesn't have correct highlighting if there is no parenthesis around it.

[2016-02-26 22:15] nigelgilbert opened #245 "No highlighting for class constructor when using Property Initialiazers for React Default Props"
Class constructor is usually highlighted, but doesn't highlight when using static Property Initializers.  Using Sublime text 3 and the latest Babel installed from package control:

[code]

[2016-02-26 22:22] #245 closed

[2016-02-29 13:56] callumlocke opened #246 "Anonymous classes are not highlighted correctly"
![image](https://cloud.githubusercontent.com/assets/250617/13396387/2868585a-deec-11e5-94c2-70ee10fc86e2.png)

[2016-03-01 04:24] woollybogger commented on #244
Adding some more examples in case it helps.

![stringvar](https://cloud.githubusercontent.com/assets/5128013/13417574/47dd69f6-df3b-11e5-8568-83d873c70913.png)

[2016-03-02 19:56] varunarora opened #247 "Linting errors with JSX"
I just setup the package. Everything seems to be setup correctly (I have selected the right option for the syntax view), but my JSX seems to have linting errors. Is this related to JSHint? Or this a babel-sublime issue?

![screenshot from 2016-03-02 11 51 22](https://cloud.githubusercontent.com/assets/629203/13473328/bb5f1f18-e06d-11e5-9ec1-ea02d10890dc.png)

Build: 3065; babel-sublime: 8.6.3

[2016-03-07 15:49] voronianski opened #249 "Scopes behave differently when have more than fifteen levels in code"
In regular Sublime's (v3) Javascript syntax highlighter this is not an issue:

![image](https://cloud.githubusercontent.com/assets/974035/13574418/ae7360c0-e48c-11e5-9634-36847ec41f40.png)

[2016-03-10 01:04] beeftornado opened #250 "JSX components with attributes break highlighting"
Desired code, causes rest of file to look blue (in my theme).

![screen shot 2016-03-09 at 4 57 39 pm](https://cloud.githubusercontent.com/assets/1356875/13656075/bde5e3f6-e618-11e5-96ed-b48a6bbed83b.png)

Removing the slash in the self closing tag works but obviously not what I want to do.

![screen shot 2016-03-09 at 4 57 55 pm](https://cloud.githubusercontent.com/assets/1356875/13656093/d2978cf